body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: lightgray;
  font-family: $font, sans-serif;
  color: white;
  font-size: $font-size;
  .title {
    padding-left: 100px;
    padding-top: 8vh;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    color: $middle-blue;
  }
  .wrapper{
    position: relative;
    height:$body-height;

    .main{
      background-image: linear-gradient(to bottom,$light-blue,$middle-light-blue,$middle-blue,$middle-dark-blue,$dark-blue);
      background-repeat: no-repeat;
      height: ($body-height)-130vh;
      width: 100%;
      position: absolute;
      top: 130vh;
      z-index: 100;
      display: flex;

    }

    .ocean {
      position:absolute;
    }

    #wave-3{
      div{
        background-image: url("../../images/waves/waves_hg3.svg");
        background-repeat: repeat-x;
        width: 200vw;
        height: 70vh;
        left: -1vw;
        position: absolute;
        transform: rotate(-5deg);
      }
      position: relative;
      top: 0;
      width: 100vw;
      overflow: hidden;
      z-index: 20;
      height: 70vh;
      animation: waves 4s infinite;
    }

    #wave-2{
      div{
        background-image: url("../../images/waves/waves_hg2.svg");
        background-repeat: repeat-x;
        width: 200vw;
        height: 70vh;
        position: absolute;
        transform: rotate(5deg);
      }
      position: relative;
      top: -45vh;
      left: -1vw;
      width: 100vw;
      overflow: hidden;
      z-index: 30;
      height: 70vh;
      animation: waves2 4s infinite;
    }

    #wave-1{
      div{
        background-image: url("../../images/waves/waves_hg1.svg");
        background-repeat: repeat-x;
        width: 200vw;
        position: absolute;
        height: 70vh;
      }
      position: relative;
      top: -75vh;
      width: 100vw;
      overflow: hidden;
      z-index: 50;
      height: 70vh;
      animation: waves3 4s infinite;

    }

    .bottom{
      background-image: url("../../images/boden/graben.svg");
      background-repeat: no-repeat;
      width: 100%;
      height: $body-height;
      z-index: 200;
      position: absolute;
      background-position: bottom;
      .img{
        width: 100%;
        height: auto;
      }
    }
  }
  .progress-bar{
    height: $body-height;
    width: 20px;
    position: absolute;
    top: 0;
    z-index: 1000;
    .start{
      height: $start;
      width: 20px;
      visibility: hidden;
    }
    .epip{
      height: $epip;
      width: 20px;
      background: hsl(0,100%,50%);

      .epip_info {
        position: absolute;
        width: 600px;
        left: -600px;
        top: ($start)+5vh;
      }

      .epip_start {
         position: absolute;
         width: 200px;
         left: 20px;
         font-size: 1.5em;
         top: ($start)-2vh;
       }

      .epip_end {
        position: absolute;
        width: 200px;
        top: ($start+$epip)-2vh;
        left: 20px;
        font-size: 1.5em;
      }
    }
    .meso{
      height: $meso;
      width: 20px;
      background: hsl(0,100%,40%);

      .meso_info {
        position: absolute;
        width: 600px;
        left: -600px;
        top: ($start+$epip)+5vh;
      }

      .meso_end {
        position: absolute;
        width: 200px;
        top: ($start+$epip+$meso)-2vh;
        left: 20px;
        font-size: 1.5em;
      }
    }
    .bath{
      height: $bath;
      width: 20px;
      background: hsl(0,100%,30%);

      .bath_info {
        position: absolute;
        width: 600px;
        left: -600px;
        top: ($start+$epip+$meso)+5vh;
      }

      .bath_end {
        position: absolute;
        width: 200px;
        top: ($start+$epip+$meso+$bath)-2vh;
        left: 20px;
        font-size: 1.5em;
      }
    }
    .abys{
      height: $abys;
      width: 20px;
      background: hsl(0,100%,20%);

      .abys_info {
        position: absolute;
        width: 600px;
        left: -600px;
        top: ($start+$epip+$meso+$bath)+5vh;
      }

      .abys_end {
        position: absolute;
        width: 200px;
        top: ($start+$epip+$meso+$bath+$abys)-2vh;
        left: 20px;
        font-size: 1.5em;
      }
    }
    .hado{
      height: $hado;
      width: 20px;
      background: hsl(0,100%,10%);

      .hado_info {
        position: absolute;
        width: 600px;
        left: -600px;
        top: ($start+$epip+$meso+$bath+$abys)+5vh;
      }

      .hado_end {
        position: absolute;
        width: 200px;
        top: ($start+$epip+$meso+$bath+$abys+$hado)-6vh;
        left: 20px;
        font-size: 1.5em;
      }
    }
  }
  ul {
    margin: 0px;
    padding: 10px 15px;
    font-size: 1.1em;
  }

  h1 {
    margin: 0px;
  }

  .epip_info-animation, .meso_info-animation, .bath_info-animation, .abys_info-animation, .hado_info-animation {
     animation-name: infos;
     animation-duration: 3s;
     animation-fill-mode: forwards;
   }

  .epip_info-out, .meso_info-out, .bath_info-out, .abys_info-out, .hado_info-out {
    animation-name: infosOut;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }


}

