@keyframes waves {
  0%   {top: 0;}
  25%  {top: -3vh;}
  50%  {top: 0;}
  75% {top: -3vh;}
  100% {top: 0;}
}

@keyframes waves2 {
  0%   {top: -45vh;}
  25%  {top: -42vh;}
  50%  {top: -45vh;}
  75% {top: -42vh;}
  100% {top: -45vh;}
}

@keyframes waves3 {
  0%   {top: -75vh;}
  25%  {top: -78vh;}
  50%  {top: -75vh;}
  75% {top: -78vh;}
  100% {top: -75vh;}
}

//epip
@keyframes whiteShark {
  0% {
    right: $white-shark-size*(-1);
    top: $white-shark;
  }
  100% {
    right: 70vw;
    top: ($white-shark)-5vh;
  }
}

@keyframes textAppear {
  from {
    opacity:0;
    width: 30vw;
  }
  to {
    opacity:1;
    width: 30vw;
  }
}

@keyframes textDisAppear {
  from {
    opacity:1;
    width: 30vw;
  }
  to {
    opacity:0;
    width: 30vw;
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 30vw; }
}

@keyframes whiteSharkOut {
  0% {right: 70vw; top: ($white-shark)-5vh;}
  100%{right: $white-shark-size+100;}
}

@keyframes delphine{
  0%   {left: $delphine-size*(-1); top: $delphine;}
  50%  {left: 30vw; top: ($delphine)-100vh; transform: rotate(0deg);}
  60% {left: 40vw; top: ($delphine)-50vh; transform: rotate(50deg);}
  100% {left: 55vw; top: ($delphine)-15vh; transform: rotate(0deg);}
}

@keyframes delphineOut{
  0% {left: 55vw; top: ($delphine)-15vh; transform: rotate(0deg);}
  100% {left: $delphine-size+100; top: ($delphine)-20vh; transform: rotate(0deg);}
}

@keyframes nemo{
  0%   {right: $nemo-size*(-1);}
  100% {right: 70vw;}
}

@keyframes nemoOut {
  0% {right: 70vw;}
  100% {right: $nemo-size+100;}
}

//meso
@keyframes big_plankton {
  0% {width: 0; height: auto; top: $plankton+ 100vh; left: 60vw;}
  100% {width: 15vw; height: auto;top: ($plankton)+90vh; left: 50vw;}
}

@keyframes big_planktonOut {
  0% {width: 15vw; height: auto;top: ($plankton)+90vh; left: 50vw;}
  100% {width: 0; height: auto; top: $plankton+ 100vh; left: 60vw;}
}

@keyframes freierTaucher {
  0%   {left: $taucher-size*(-1); top: ($freier-taucher)+15vh;}
  100% {left: 25vw; top: ($freier-taucher)+30vh;}
}

@keyframes freierTaucherOut {
  0% {left: 25vw; top: ($freier-taucher)+30vh;}
  100% {left: ($freier-taucher)-100; top: ($freier-taucher)+15vh;}
}

@keyframes taucher {
  0%   {left: $taucher-size*(-1); top: ($taucher)-30vh;}
  100% {left: 60vw; top: ($taucher)+10vh;}
}

@keyframes taucherOut {
  0% {left: 60vw; top: ($taucher)+10vh;}
  100% {left: ($taucher)-100; top: ($taucher)+10vh;}
}

@keyframes eel {
  0%   {right: $eel-size*(-1); top: ($eel)-30vh;}
  100% {right: 30vw; top: ($eel)+10vh;}
}

@keyframes eelOut {
  0% {right: 30vw; top: ($eel)+10vh;}
  100% {right: ($eel)-100; top: ($eel)+10vh;}
}

//bath

@keyframes orca{
  0%   {right: $orca-size*(-1); top: ($orca);}
  100% {right: 10vw; top: ($orca)+10vh;}
}

@keyframes orcaOut {
  0% {right: 10vw; top: ($orca)+10vh;}
  100% {right: $orca-size+100; top: ($orca)+20vh;}
}

@keyframes kalamar{
  0%   {left: $kalamar-size*(-1); top: ($kalamar);}
  50% {left: 15vw; top: ($kalamar)+15vh;}
  100% {left: 30vw; top: ($kalamar)+30vh;}
  /*75% {left: 45vw; top: ($kalamar)+45vh;}
  100% {left: 60vw; top: ($kalamar)+60vh;}*/
}

@keyframes kalamarOut {
  0% {left: 30vw; top: ($kalamar)+30vh;}
  100% {left: ($kalamar-size)-100; top: ($kalamar)+80vh;}
}

@keyframes pottwal{
  0%   {right: $pottwal-size*(-1);}
  100% {right: 20vw;}
}

@keyframes pottwalOut {
  0% {right: 20vw;}
  100% {right: $pottwal-size+100;}
}

@keyframes titanic {
  0% {transform: rotate(10deg);}
  50% {transform: rotate(5deg);}
  100% {transform: rotate(10deg);}
}

@keyframes krabbe {
  0%   {left: $krabbe-size*(-1);}
  100% {left: 20vw;}
}

@keyframes krabbeOut {
  0% {left: 20vw;}
  100% {left: ($krabbe-size)-100;}
}

@keyframes worm {
  0% {
    right: -5vw;
  }
  100% {
    right: 30vw;
  }
}
@keyframes wormOut {
  0% {
    right: 30vw;
  }
  100% {
    right: -95vw;
  }
}

@keyframes submarine {
  0%   {right: $submarine-size*(-1); top: $submarine; transform: rotate(0deg);}
  45% {right: 55vw; top: $submarine; transform: rotate(-30deg);}
  50% {right: 55vw; transform: rotate(-90deg);}
  100% {right: 55vw; transform: rotate(-90deg); top: ($submarine)+45vh;}
}

@keyframes submarineOut {
  0% {left: 30vw;}
  100% {left: ($submarine-size)-100;}
}

@keyframes infos {
  from {
    opacity:0;
    left: -600px;
  }
  to {
    opacity:1;
    left: 100px;
  }
}

@keyframes infosOut {
  from {
    opacity:1;
    left: 100px;
  }
  to {
    opacity:0;
    left: -600px;
  }
}

@function multiple-box-shadow ($n){
  $value: '#{random($plankton)}vh #{random($plankton)}vh #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(120)}vw #{random(120)}vw #FFF'
  }
  @return unquote($value);
}

$shadows-small:  multiple-box-shadow(400);
$shadows-medium: multiple-box-shadow(400);
$shadows-large: multiple-box-shadow(400);

@keyframes animStar{
  from
  {transform: translatex(0px);}
  to
  {transform: translatex(120px);}
}