@mixin start-position($size, $position, $direction, $index ) {
  position: absolute;
  top: $position;
  z-index: $index;
  @if($direction=="right"){
    right: $size*(-1);
  }
  @else{
    left: $size*(-1);
  }
  img{
    width: $size;
    height: auto;
  }
}

@mixin plankton-position($shadow-size, $animation-duration){
  box-shadow: $shadow-size;
  animation: animStar $animation-duration linear;
  &:after{
    box-shadow: $shadow-size;
  }
}

@mixin animatedThings($name, $duration){
  animation: $name $duration;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  .fish-text{
    animation-name: textAppear;
    animation-duration: 5s;
    animation-delay: $duration+3s;
    animation-fill-mode: forwards;
  }
}

@mixin outThings($name, $duration){
  animation: $name $duration;
  .fish-text{
    animation: textDisAppear 2s;
  }
}