.wrapper{
  .fish-text{
    width: 0;
    height: auto;
    opacity: 0;
    position: absolute;
  }
  //epip-----------------------------------------------------------------------------------------
    .white-shark{
    @include start-position($white-shark-size, $white-shark, "right", 600);
  }

  .white-shark-animation {
    @include animatedThings(whiteShark, 5s);
  }

  .white-shark-out{
    @include outThings(whiteSharkOut, 5s);
  }

  .delphine{
    @include start-position($delphine-size, $delphine, "left", 700);
  }

  .delphine-animation {
    @include animatedThings(delphine, 10s);
  }

  .delphine-animation-out {
    @include outThings(delphineOut, 10s);
  }

  .nemo{
    @include start-position($nemo-size, $nemo, "right", 700);
    img{
      transform: scaleX(-1);
    }
  }

  .nemo-animation{
    @include animatedThings(nemo, 8s);
  }

  .nemo-out{
    @include outThings(nemoOut, 40s);
  }

  .anemone{
    position: absolute;
    top: ($nemo)-8vh;
    right: -8vh;
    transform: rotate(-55deg);
    z-index: 600;
    img{
      width: 20vh;
      height: auto;
    }
  }
  .koralle{
    top: ($nemo)-3vh;
    right: -10vh;
    z-index: 800;
    transform: rotate(-40deg);
  }

  //meso-------------------------------------------------------------------------------------------------------------------------------
  .freier-taucher{
    @include start-position($taucher-size, $freier-taucher, "left", 700);
  }

  .freier-taucher-animation{
    @include animatedThings(freierTaucher, 10s);
  }

  .freier-taucher-animation-out {
    @include outThings(freierTaucherOut, 10s);
  }

  .taucher{
    @include start-position($taucher-size, $taucher, "left", 700);
  }

  .taucher-animation{
    @include animatedThings(taucher, 15s);
  }

  .taucher-animation-out {
    @include outThings(taucherOut, 15s);
  }

  .big_plankton{
    position: absolute;
    top: $plankton+10vh;
    left: 60vw;
    z-index: 700;
    img{
      width: 0;
      height: auto;
    }
  }
  .big_plankton-animation{
    img {
      @include animatedThings(big_plankton, 8s);
    }
    .fish-text{
      animation-name: textAppear;
      animation-duration: 5s;
      animation-delay: 11s;
      animation-fill-mode: forwards;
    }
  }

  .big_plankton-out{
    img {
      @include outThings(big_planktonOut, 15s);
    }
    .fish-text{
      animation: textDisAppear 2s;
    }
  }

  .planktönchen{
    position: absolute;
    top: $meso-deep;
    height: $meso;
    width: 100vw;
    overflow: hidden;

    .plankton, .plankton1, .plankton2{
      position: absolute;
      top: 0;
      z-index: 600;
      width: 2px;
      height: 2px;
      background: transparent;

      &:after {
        content: " ";
        position: absolute;
        left: 120px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-small;
      }
    }

    .plankton{
      @include plankton-position($shadows-small, 5s);
    }

    .plankton1{
      @include plankton-position($shadows-small, 25s);
    }

    .plankton2{
      @include plankton-position($shadows-large, 50s);
    }
  }

  .eel{
    @include start-position($eel-size, $eel, "right", 700);
  }

  .eel-animation{
    @include animatedThings(eel, 15s);

  }

  .eel-out {
    @include outThings(eelOut, 15s);
  }

  //bath------------------------------------------------------------------------------------------------------------------------
  .orca{
    @include start-position($orca-size, $orca, "right", 600);
  }

  .orca-animation{
    @include animatedThings(orca, 10s);
  }

  .orca-out{
    @include outThings(orcaOut, 10s);
  }

  .kalamar{
    img {
      transform: rotate(90deg);
    }
    @include start-position($kalamar-size, $kalamar, "left", 700);
  }

  .kalamar-animation{
    @include animatedThings(kalamar, 10s);
  }

  .kalamar-out {
    @include outThings(kalamarOut, 20s);
  }

  .pottwal{
    @include start-position($pottwal-size, $pottwal, "right", 600);
  }

  .pottwal-animation{
    @include animatedThings(pottwal, 15s);
  }

  .pottwal-out{
    @include outThings(pottwalOut, 15s);
  }

  .titanic{
    img {
      @include start-position($titanic-size, $titanic, "left", 600);
      left: $titanic-size*(-1)+40vw;
      animation: titanic 15s infinite;
    }
    .fish-text {
      top: $titanic + 105vh;
      z-index: 800;
      left: 10vw;
    }
  }

  .titanic-animation{
    .fish-text{
      animation-name: textAppear;
      animation-duration: 5s;
      animation-delay: 8s;
      animation-fill-mode: forwards;
    }
  }

  .titanic-out{
    .fish-text{
      animation: textDisAppear 2s;
    }
  }

  .stone{
    position: absolute;
    top: $titanic+95vh;
    left: -14vw;
    z-index: 500;
    transform: rotate(75deg);
    img{
      width: 30vw;
      height: auto;
    }
  }

  //abys-------------------------------------------------------------------------------------------------------------------------

  .mr-crabs{
    @include start-position($krabbe-size, $krabbe, "left", 600);
  }

  .mr-crabs-animation{
    @include animatedThings(krabbe, 8s);
  }

  .mr-crabs-out {
    @include outThings(krabbeOut, 15s);
  }

  //hado-----------------------------------------------------------------------------------------------------------------------

  .worm{
    @include start-position($worm-size, $worm, "right", 800);
  }

  .worm-animation{
    @include animatedThings(worm, 15s);
  }

  .worm-out {
    @include outThings(wormOut, 30s);
  }

  .submarine{
    @include start-position($submarine-size, $submarine, "right", 800);
    .fish-text {
      transform: rotate(90deg);
      padding-left: 25vw;
    }
  }
  .submarine-animation{
    @include animatedThings(submarine, 10s);
  }

  .submarine-out {
    @include outThings(submarineOut, 30s);
  }
}