$font: 'Raleway';
$font-size: 1em;

$light-blue: #50c3ef;
$middle-light-blue: #1a9ac7;
$middle-blue: #005C83;
$middle-dark-blue: #005c83;
$dark-blue: #004566;

$start: 100vh;
$epip: 100vh;
$meso: 100vh;
$bath: 100vh;
$abys: 100vh;
$hado: 100vh;

$body-height: $start+$epip+$meso+$bath+$abys+$hado;
//Fish
//epip
  $epip-fish: $epip/4;
  //shark
  $white-shark: $epip-fish+$start;
  $white-shark-size: 20vw;
  //delphine
  $delphine: $epip-fish*2+$start;
  $delphine-size: 22vw;
  //nemo
  $nemo: $epip-fish*3+$start;
  $nemo-size: 3vw;

//meso
  $meso-fish: $meso/3;
  $meso-deep: $start+$epip;
  //taucher
  $freier-taucher:$meso-deep;
  $taucher: $meso-fish+$meso-deep;
  $taucher-size: 11vw;
  //plankton
  $plankton: $meso-deep; //plankton kein und plankton groß
  $plankton-size: 1px;
  //aal
  $eel: $meso-fish*2+$meso-deep;
  $eel-size: 8vw;

//bath
  $bath-fish: $bath/4;
  $bath-deep: $meso-deep+$meso;
  //orca
  $orca: ($bath-deep)-10vh;
  $orca-size: 40vw;
  //kalamar
  $kalamar: $bath-fish+$bath-deep;
  $kalamar-size: 6vw;
  //pottwal
  $pottwal: ($bath-fish*2+$bath-deep)+10vh;
  $pottwal-size: 26vw;
  //titanic
  $titanic: ($bath-fish*2.5+$bath-deep)-100vh;
  $titanic-size: 100vw;

//abys
  $abys-fish: $abys/2;
  $abys-deep: $bath-deep+$bath;
  //krabbe
  $krabbe: $abys-fish+$abys-deep;
  $krabbe-size: 15vw;

//hado
  $hado-fish: $hado/2;
  $hado-deep: $abys-deep+$abys;
//wurm
$worm: $hado-deep+60vh;
$worm-size: 5vw;
  //uboot
  $submarine: $hado-deep;
  $submarine-size: 30vw;
  //empire state building
  $empire: $hado-deep+$hado-fish;
  //mount everest
  $everest: $hado-deep+$hado-fish;

