@charset "UTF-8";
@keyframes waves {
  0% {
    top: 0;
  }
  25% {
    top: -3vh;
  }
  50% {
    top: 0;
  }
  75% {
    top: -3vh;
  }
  100% {
    top: 0;
  }
}
@keyframes waves2 {
  0% {
    top: -45vh;
  }
  25% {
    top: -42vh;
  }
  50% {
    top: -45vh;
  }
  75% {
    top: -42vh;
  }
  100% {
    top: -45vh;
  }
}
@keyframes waves3 {
  0% {
    top: -75vh;
  }
  25% {
    top: -78vh;
  }
  50% {
    top: -75vh;
  }
  75% {
    top: -78vh;
  }
  100% {
    top: -75vh;
  }
}
@keyframes whiteShark {
  0% {
    right: -20vw;
    top: 125vh;
  }
  100% {
    right: 70vw;
    top: 120vh;
  }
}
@keyframes textAppear {
  from {
    opacity: 0;
    width: 30vw;
  }
  to {
    opacity: 1;
    width: 30vw;
  }
}
@keyframes textDisAppear {
  from {
    opacity: 1;
    width: 30vw;
  }
  to {
    opacity: 0;
    width: 30vw;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30vw;
  }
}
@keyframes whiteSharkOut {
  0% {
    right: 70vw;
    top: 120vh;
  }
  100% {
    right: 120vw;
  }
}
@keyframes delphine {
  0% {
    left: -22vw;
    top: 150vh;
  }
  50% {
    left: 30vw;
    top: 50vh;
    transform: rotate(0deg);
  }
  60% {
    left: 40vw;
    top: 100vh;
    transform: rotate(50deg);
  }
  100% {
    left: 55vw;
    top: 135vh;
    transform: rotate(0deg);
  }
}
@keyframes delphineOut {
  0% {
    left: 55vw;
    top: 135vh;
    transform: rotate(0deg);
  }
  100% {
    left: 122vw;
    top: 130vh;
    transform: rotate(0deg);
  }
}
@keyframes nemo {
  0% {
    right: -3vw;
  }
  100% {
    right: 70vw;
  }
}
@keyframes nemoOut {
  0% {
    right: 70vw;
  }
  100% {
    right: 103vw;
  }
}
@keyframes big_plankton {
  0% {
    width: 0;
    height: auto;
    top: 300vh;
    left: 60vw;
  }
  100% {
    width: 15vw;
    height: auto;
    top: 290vh;
    left: 50vw;
  }
}
@keyframes big_planktonOut {
  0% {
    width: 15vw;
    height: auto;
    top: 290vh;
    left: 50vw;
  }
  100% {
    width: 0;
    height: auto;
    top: 300vh;
    left: 60vw;
  }
}
@keyframes freierTaucher {
  0% {
    left: -11vw;
    top: 215vh;
  }
  100% {
    left: 25vw;
    top: 230vh;
  }
}
@keyframes freierTaucherOut {
  0% {
    left: 25vw;
    top: 230vh;
  }
  100% {
    left: 100vh;
    top: 215vh;
  }
}
@keyframes taucher {
  0% {
    left: -11vw;
    top: 203.3333333333vh;
  }
  100% {
    left: 60vw;
    top: 243.3333333333vh;
  }
}
@keyframes taucherOut {
  0% {
    left: 60vw;
    top: 243.3333333333vh;
  }
  100% {
    left: 133.3333333333vh;
    top: 243.3333333333vh;
  }
}
@keyframes eel {
  0% {
    right: -8vw;
    top: 236.6666666667vh;
  }
  100% {
    right: 30vw;
    top: 276.6666666667vh;
  }
}
@keyframes eelOut {
  0% {
    right: 30vw;
    top: 276.6666666667vh;
  }
  100% {
    right: 166.6666666667vh;
    top: 276.6666666667vh;
  }
}
@keyframes orca {
  0% {
    right: -40vw;
    top: 290vh;
  }
  100% {
    right: 10vw;
    top: 300vh;
  }
}
@keyframes orcaOut {
  0% {
    right: 10vw;
    top: 300vh;
  }
  100% {
    right: 140vw;
    top: 310vh;
  }
}
@keyframes kalamar {
  0% {
    left: -6vw;
    top: 325vh;
  }
  50% {
    left: 15vw;
    top: 340vh;
  }
  100% {
    left: 30vw;
    top: 355vh;
  }
  /*75% {left: 45vw; top: ($kalamar)+45vh;}
  100% {left: 60vw; top: ($kalamar)+60vh;}*/
}
@keyframes kalamarOut {
  0% {
    left: 30vw;
    top: 355vh;
  }
  100% {
    left: -94vw;
    top: 405vh;
  }
}
@keyframes pottwal {
  0% {
    right: -26vw;
  }
  100% {
    right: 20vw;
  }
}
@keyframes pottwalOut {
  0% {
    right: 20vw;
  }
  100% {
    right: 126vw;
  }
}
@keyframes titanic {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes krabbe {
  0% {
    left: -15vw;
  }
  100% {
    left: 20vw;
  }
}
@keyframes krabbeOut {
  0% {
    left: 20vw;
  }
  100% {
    left: -85vw;
  }
}
@keyframes worm {
  0% {
    right: -5vw;
  }
  100% {
    right: 30vw;
  }
}
@keyframes wormOut {
  0% {
    right: 30vw;
  }
  100% {
    right: -95vw;
  }
}
@keyframes submarine {
  0% {
    right: -30vw;
    top: 500vh;
    transform: rotate(0deg);
  }
  45% {
    right: 55vw;
    top: 500vh;
    transform: rotate(-30deg);
  }
  50% {
    right: 55vw;
    transform: rotate(-90deg);
  }
  100% {
    right: 55vw;
    transform: rotate(-90deg);
    top: 545vh;
  }
}
@keyframes submarineOut {
  0% {
    left: 30vw;
  }
  100% {
    left: -70vw;
  }
}
@keyframes infos {
  from {
    opacity: 0;
    left: -600px;
  }
  to {
    opacity: 1;
    left: 100px;
  }
}
@keyframes infosOut {
  from {
    opacity: 1;
    left: 100px;
  }
  to {
    opacity: 0;
    left: -600px;
  }
}
@keyframes animStar {
  from {
    transform: translatex(0px);
  }
  to {
    transform: translatex(120px);
  }
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: lightgray;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 1em;
}
body .title {
  padding-left: 100px;
  padding-top: 8vh;
  font-size: 4em;
  font-weight: bold;
  position: absolute;
  color: #005C83;
}
body .wrapper {
  position: relative;
  height: 600vh;
}
body .wrapper .main {
  background-image: linear-gradient(to bottom, #50c3ef, #1a9ac7, #005C83, #005c83, #004566);
  background-repeat: no-repeat;
  height: 470vh;
  width: 100%;
  position: absolute;
  top: 130vh;
  z-index: 100;
  display: flex;
}
body .wrapper .ocean {
  position: absolute;
}
body .wrapper #wave-3 {
  position: relative;
  top: 0;
  width: 100vw;
  overflow: hidden;
  z-index: 20;
  height: 70vh;
  animation: waves 4s infinite;
}
body .wrapper #wave-3 div {
  background-image: url("../../images/waves/waves_hg3.svg");
  background-repeat: repeat-x;
  width: 200vw;
  height: 70vh;
  left: -1vw;
  position: absolute;
  transform: rotate(-5deg);
}
body .wrapper #wave-2 {
  position: relative;
  top: -45vh;
  left: -1vw;
  width: 100vw;
  overflow: hidden;
  z-index: 30;
  height: 70vh;
  animation: waves2 4s infinite;
}
body .wrapper #wave-2 div {
  background-image: url("../../images/waves/waves_hg2.svg");
  background-repeat: repeat-x;
  width: 200vw;
  height: 70vh;
  position: absolute;
  transform: rotate(5deg);
}
body .wrapper #wave-1 {
  position: relative;
  top: -75vh;
  width: 100vw;
  overflow: hidden;
  z-index: 50;
  height: 70vh;
  animation: waves3 4s infinite;
}
body .wrapper #wave-1 div {
  background-image: url("../../images/waves/waves_hg1.svg");
  background-repeat: repeat-x;
  width: 200vw;
  position: absolute;
  height: 70vh;
}
body .wrapper .bottom {
  background-image: url("../../images/boden/graben.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 600vh;
  z-index: 200;
  position: absolute;
  background-position: bottom;
}
body .wrapper .bottom .img {
  width: 100%;
  height: auto;
}
body .progress-bar {
  height: 600vh;
  width: 20px;
  position: absolute;
  top: 0;
  z-index: 1000;
}
body .progress-bar .start {
  height: 100vh;
  width: 20px;
  visibility: hidden;
}
body .progress-bar .epip {
  height: 100vh;
  width: 20px;
  background: red;
}
body .progress-bar .epip .epip_info {
  position: absolute;
  width: 600px;
  left: -600px;
  top: 105vh;
}
body .progress-bar .epip .epip_start {
  position: absolute;
  width: 200px;
  left: 20px;
  font-size: 1.5em;
  top: 98vh;
}
body .progress-bar .epip .epip_end {
  position: absolute;
  width: 200px;
  top: 198vh;
  left: 20px;
  font-size: 1.5em;
}
body .progress-bar .meso {
  height: 100vh;
  width: 20px;
  background: #cc0000;
}
body .progress-bar .meso .meso_info {
  position: absolute;
  width: 600px;
  left: -600px;
  top: 205vh;
}
body .progress-bar .meso .meso_end {
  position: absolute;
  width: 200px;
  top: 298vh;
  left: 20px;
  font-size: 1.5em;
}
body .progress-bar .bath {
  height: 100vh;
  width: 20px;
  background: #990000;
}
body .progress-bar .bath .bath_info {
  position: absolute;
  width: 600px;
  left: -600px;
  top: 305vh;
}
body .progress-bar .bath .bath_end {
  position: absolute;
  width: 200px;
  top: 398vh;
  left: 20px;
  font-size: 1.5em;
}
body .progress-bar .abys {
  height: 100vh;
  width: 20px;
  background: #660000;
}
body .progress-bar .abys .abys_info {
  position: absolute;
  width: 600px;
  left: -600px;
  top: 405vh;
}
body .progress-bar .abys .abys_end {
  position: absolute;
  width: 200px;
  top: 498vh;
  left: 20px;
  font-size: 1.5em;
}
body .progress-bar .hado {
  height: 100vh;
  width: 20px;
  background: #330000;
}
body .progress-bar .hado .hado_info {
  position: absolute;
  width: 600px;
  left: -600px;
  top: 505vh;
}
body .progress-bar .hado .hado_end {
  position: absolute;
  width: 200px;
  top: 594vh;
  left: 20px;
  font-size: 1.5em;
}
body ul {
  margin: 0px;
  padding: 10px 15px;
  font-size: 1.1em;
}
body h1 {
  margin: 0px;
}
body .epip_info-animation, body .meso_info-animation, body .bath_info-animation, body .abys_info-animation, body .hado_info-animation {
  animation-name: infos;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
body .epip_info-out, body .meso_info-out, body .bath_info-out, body .abys_info-out, body .hado_info-out {
  animation-name: infosOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.wrapper .fish-text {
  width: 0;
  height: auto;
  opacity: 0;
  position: absolute;
}
.wrapper .white-shark {
  position: absolute;
  top: 125vh;
  z-index: 600;
  right: -20vw;
}
.wrapper .white-shark img {
  width: 20vw;
  height: auto;
}
.wrapper .white-shark-animation {
  animation: whiteShark 5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .white-shark-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
.wrapper .white-shark-out {
  animation: whiteSharkOut 5s;
}
.wrapper .white-shark-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .delphine {
  position: absolute;
  top: 150vh;
  z-index: 700;
  left: -22vw;
}
.wrapper .delphine img {
  width: 22vw;
  height: auto;
}
.wrapper .delphine-animation {
  animation: delphine 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .delphine-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}
.wrapper .delphine-animation-out {
  animation: delphineOut 10s;
}
.wrapper .delphine-animation-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .nemo {
  position: absolute;
  top: 175vh;
  z-index: 700;
  right: -3vw;
}
.wrapper .nemo img {
  width: 3vw;
  height: auto;
}
.wrapper .nemo img {
  transform: scaleX(-1);
}
.wrapper .nemo-animation {
  animation: nemo 8s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .nemo-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
.wrapper .nemo-out {
  animation: nemoOut 40s;
}
.wrapper .nemo-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .anemone {
  position: absolute;
  top: 167vh;
  right: -8vh;
  transform: rotate(-55deg);
  z-index: 600;
}
.wrapper .anemone img {
  width: 20vh;
  height: auto;
}
.wrapper .koralle {
  top: 172vh;
  right: -10vh;
  z-index: 800;
  transform: rotate(-40deg);
}
.wrapper .freier-taucher {
  position: absolute;
  top: 200vh;
  z-index: 700;
  left: -11vw;
}
.wrapper .freier-taucher img {
  width: 11vw;
  height: auto;
}
.wrapper .freier-taucher-animation {
  animation: freierTaucher 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .freier-taucher-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}
.wrapper .freier-taucher-animation-out {
  animation: freierTaucherOut 10s;
}
.wrapper .freier-taucher-animation-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .taucher {
  position: absolute;
  top: 233.3333333333vh;
  z-index: 700;
  left: -11vw;
}
.wrapper .taucher img {
  width: 11vw;
  height: auto;
}
.wrapper .taucher-animation {
  animation: taucher 15s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .taucher-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}
.wrapper .taucher-animation-out {
  animation: taucherOut 15s;
}
.wrapper .taucher-animation-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .big_plankton {
  position: absolute;
  top: 210vh;
  left: 60vw;
  z-index: 700;
}
.wrapper .big_plankton img {
  width: 0;
  height: auto;
}
.wrapper .big_plankton-animation img {
  animation: big_plankton 8s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .big_plankton-animation img .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
.wrapper .big_plankton-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
.wrapper .big_plankton-out img {
  animation: big_planktonOut 15s;
}
.wrapper .big_plankton-out img .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .big_plankton-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .planktönchen {
  position: absolute;
  top: 200vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.wrapper .planktönchen .plankton, .wrapper .planktönchen .plankton1, .wrapper .planktönchen .plankton2 {
  position: absolute;
  top: 0;
  z-index: 600;
  width: 2px;
  height: 2px;
  background: transparent;
}
.wrapper .planktönchen .plankton:after, .wrapper .planktönchen .plankton1:after, .wrapper .planktönchen .plankton2:after {
  content: " ";
  position: absolute;
  left: 120px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 80vh 13vh #FFF , 94vw 100vw #FFF , 12vw 43vw #FFF , 108vw 58vw #FFF , 73vw 107vw #FFF , 14vw 88vw #FFF , 47vw 39vw #FFF , 91vw 113vw #FFF , 110vw 81vw #FFF , 87vw 117vw #FFF , 49vw 1vw #FFF , 89vw 16vw #FFF , 47vw 95vw #FFF , 6vw 3vw #FFF , 105vw 42vw #FFF , 43vw 19vw #FFF , 19vw 78vw #FFF , 50vw 34vw #FFF , 97vw 97vw #FFF , 79vw 2vw #FFF , 86vw 41vw #FFF , 40vw 78vw #FFF , 81vw 52vw #FFF , 103vw 84vw #FFF , 28vw 77vw #FFF , 30vw 53vw #FFF , 64vw 99vw #FFF , 97vw 68vw #FFF , 75vw 21vw #FFF , 44vw 71vw #FFF , 8vw 2vw #FFF , 66vw 40vw #FFF , 83vw 78vw #FFF , 44vw 104vw #FFF , 116vw 28vw #FFF , 71vw 31vw #FFF , 13vw 109vw #FFF , 64vw 16vw #FFF , 101vw 117vw #FFF , 98vw 21vw #FFF , 74vw 14vw #FFF , 73vw 10vw #FFF , 95vw 23vw #FFF , 116vw 118vw #FFF , 105vw 78vw #FFF , 46vw 87vw #FFF , 64vw 33vw #FFF , 71vw 109vw #FFF , 23vw 103vw #FFF , 28vw 79vw #FFF , 115vw 31vw #FFF , 32vw 14vw #FFF , 102vw 76vw #FFF , 85vw 1vw #FFF , 43vw 61vw #FFF , 107vw 31vw #FFF , 103vw 17vw #FFF , 66vw 54vw #FFF , 77vw 78vw #FFF , 107vw 54vw #FFF , 65vw 88vw #FFF , 12vw 5vw #FFF , 75vw 68vw #FFF , 1vw 34vw #FFF , 18vw 12vw #FFF , 17vw 3vw #FFF , 27vw 28vw #FFF , 82vw 114vw #FFF , 53vw 17vw #FFF , 102vw 67vw #FFF , 86vw 24vw #FFF , 28vw 74vw #FFF , 68vw 13vw #FFF , 42vw 19vw #FFF , 106vw 98vw #FFF , 58vw 80vw #FFF , 62vw 24vw #FFF , 71vw 39vw #FFF , 94vw 101vw #FFF , 46vw 71vw #FFF , 3vw 27vw #FFF , 1vw 65vw #FFF , 6vw 79vw #FFF , 76vw 52vw #FFF , 107vw 103vw #FFF , 100vw 23vw #FFF , 22vw 55vw #FFF , 74vw 119vw #FFF , 21vw 57vw #FFF , 32vw 48vw #FFF , 25vw 13vw #FFF , 49vw 22vw #FFF , 70vw 16vw #FFF , 46vw 10vw #FFF , 11vw 91vw #FFF , 119vw 31vw #FFF , 2vw 11vw #FFF , 62vw 112vw #FFF , 32vw 87vw #FFF , 113vw 70vw #FFF , 84vw 20vw #FFF , 37vw 44vw #FFF , 109vw 27vw #FFF , 68vw 51vw #FFF , 71vw 117vw #FFF , 72vw 109vw #FFF , 19vw 44vw #FFF , 14vw 57vw #FFF , 18vw 104vw #FFF , 6vw 116vw #FFF , 84vw 118vw #FFF , 58vw 81vw #FFF , 26vw 1vw #FFF , 63vw 77vw #FFF , 92vw 96vw #FFF , 99vw 101vw #FFF , 17vw 76vw #FFF , 8vw 59vw #FFF , 60vw 50vw #FFF , 5vw 117vw #FFF , 57vw 92vw #FFF , 23vw 45vw #FFF , 60vw 111vw #FFF , 27vw 120vw #FFF , 12vw 65vw #FFF , 1vw 21vw #FFF , 28vw 104vw #FFF , 16vw 106vw #FFF , 35vw 88vw #FFF , 63vw 37vw #FFF , 75vw 96vw #FFF , 102vw 79vw #FFF , 96vw 2vw #FFF , 113vw 5vw #FFF , 58vw 9vw #FFF , 59vw 61vw #FFF , 11vw 15vw #FFF , 80vw 10vw #FFF , 34vw 103vw #FFF , 89vw 66vw #FFF , 59vw 116vw #FFF , 105vw 55vw #FFF , 48vw 76vw #FFF , 14vw 113vw #FFF , 91vw 35vw #FFF , 88vw 103vw #FFF , 119vw 80vw #FFF , 115vw 68vw #FFF , 11vw 117vw #FFF , 76vw 74vw #FFF , 39vw 68vw #FFF , 70vw 74vw #FFF , 91vw 10vw #FFF , 112vw 88vw #FFF , 38vw 49vw #FFF , 90vw 32vw #FFF , 65vw 49vw #FFF , 3vw 56vw #FFF , 86vw 16vw #FFF , 19vw 100vw #FFF , 99vw 60vw #FFF , 116vw 115vw #FFF , 80vw 60vw #FFF , 22vw 107vw #FFF , 95vw 14vw #FFF , 61vw 87vw #FFF , 93vw 107vw #FFF , 88vw 2vw #FFF , 114vw 54vw #FFF , 58vw 56vw #FFF , 80vw 72vw #FFF , 60vw 85vw #FFF , 73vw 77vw #FFF , 33vw 25vw #FFF , 49vw 65vw #FFF , 49vw 120vw #FFF , 25vw 41vw #FFF , 115vw 9vw #FFF , 43vw 71vw #FFF , 104vw 28vw #FFF , 78vw 76vw #FFF , 4vw 1vw #FFF , 71vw 104vw #FFF , 75vw 93vw #FFF , 111vw 33vw #FFF , 3vw 31vw #FFF , 118vw 97vw #FFF , 102vw 120vw #FFF , 48vw 106vw #FFF , 99vw 20vw #FFF , 50vw 118vw #FFF , 11vw 33vw #FFF , 82vw 59vw #FFF , 95vw 8vw #FFF , 88vw 22vw #FFF , 5vw 17vw #FFF , 83vw 49vw #FFF , 71vw 75vw #FFF , 40vw 48vw #FFF , 102vw 11vw #FFF , 43vw 80vw #FFF , 19vw 106vw #FFF , 11vw 35vw #FFF , 6vw 47vw #FFF , 94vw 30vw #FFF , 89vw 120vw #FFF , 29vw 116vw #FFF , 91vw 79vw #FFF , 93vw 24vw #FFF , 3vw 57vw #FFF , 43vw 56vw #FFF , 6vw 88vw #FFF , 11vw 54vw #FFF , 19vw 56vw #FFF , 71vw 51vw #FFF , 33vw 76vw #FFF , 88vw 116vw #FFF , 77vw 72vw #FFF , 16vw 41vw #FFF , 7vw 51vw #FFF , 30vw 60vw #FFF , 30vw 104vw #FFF , 109vw 100vw #FFF , 34vw 16vw #FFF , 86vw 105vw #FFF , 62vw 24vw #FFF , 30vw 71vw #FFF , 101vw 38vw #FFF , 88vw 86vw #FFF , 42vw 89vw #FFF , 72vw 18vw #FFF , 86vw 93vw #FFF , 86vw 23vw #FFF , 35vw 41vw #FFF , 45vw 53vw #FFF , 43vw 83vw #FFF , 49vw 93vw #FFF , 115vw 93vw #FFF , 104vw 40vw #FFF , 47vw 31vw #FFF , 21vw 53vw #FFF , 77vw 101vw #FFF , 37vw 39vw #FFF , 54vw 79vw #FFF , 111vw 83vw #FFF , 117vw 74vw #FFF , 47vw 97vw #FFF , 99vw 6vw #FFF , 80vw 14vw #FFF , 83vw 4vw #FFF , 33vw 91vw #FFF , 24vw 83vw #FFF , 7vw 59vw #FFF , 70vw 9vw #FFF , 43vw 89vw #FFF , 6vw 113vw #FFF , 48vw 33vw #FFF , 45vw 1vw #FFF , 48vw 93vw #FFF , 93vw 117vw #FFF , 109vw 74vw #FFF , 96vw 66vw #FFF , 10vw 108vw #FFF , 20vw 89vw #FFF , 50vw 95vw #FFF , 35vw 93vw #FFF , 120vw 49vw #FFF , 7vw 110vw #FFF , 49vw 44vw #FFF , 120vw 21vw #FFF , 3vw 67vw #FFF , 19vw 63vw #FFF , 113vw 25vw #FFF , 11vw 46vw #FFF , 57vw 107vw #FFF , 8vw 93vw #FFF , 48vw 22vw #FFF , 16vw 89vw #FFF , 79vw 55vw #FFF , 30vw 23vw #FFF , 66vw 96vw #FFF , 10vw 34vw #FFF , 57vw 44vw #FFF , 48vw 100vw #FFF , 104vw 55vw #FFF , 108vw 2vw #FFF , 47vw 33vw #FFF , 2vw 61vw #FFF , 68vw 97vw #FFF , 2vw 94vw #FFF , 2vw 27vw #FFF , 100vw 101vw #FFF , 113vw 61vw #FFF , 116vw 46vw #FFF , 99vw 47vw #FFF , 77vw 69vw #FFF , 86vw 76vw #FFF , 61vw 6vw #FFF , 80vw 87vw #FFF , 23vw 3vw #FFF , 21vw 107vw #FFF , 23vw 35vw #FFF , 114vw 39vw #FFF , 62vw 24vw #FFF , 5vw 45vw #FFF , 79vw 86vw #FFF , 3vw 89vw #FFF , 105vw 97vw #FFF , 52vw 53vw #FFF , 24vw 63vw #FFF , 47vw 18vw #FFF , 88vw 87vw #FFF , 81vw 107vw #FFF , 13vw 90vw #FFF , 58vw 90vw #FFF , 99vw 59vw #FFF , 50vw 89vw #FFF , 78vw 47vw #FFF , 79vw 28vw #FFF , 86vw 72vw #FFF , 42vw 67vw #FFF , 53vw 26vw #FFF , 32vw 74vw #FFF , 40vw 53vw #FFF , 43vw 89vw #FFF , 100vw 25vw #FFF , 20vw 117vw #FFF , 65vw 91vw #FFF , 46vw 17vw #FFF , 17vw 41vw #FFF , 112vw 14vw #FFF , 107vw 1vw #FFF , 85vw 120vw #FFF , 96vw 80vw #FFF , 16vw 83vw #FFF , 51vw 46vw #FFF , 43vw 4vw #FFF , 66vw 49vw #FFF , 65vw 36vw #FFF , 88vw 33vw #FFF , 78vw 105vw #FFF , 61vw 56vw #FFF , 47vw 86vw #FFF , 85vw 21vw #FFF , 17vw 12vw #FFF , 89vw 22vw #FFF , 17vw 41vw #FFF , 76vw 57vw #FFF , 43vw 115vw #FFF , 9vw 104vw #FFF , 39vw 68vw #FFF , 83vw 69vw #FFF , 45vw 79vw #FFF , 7vw 75vw #FFF , 106vw 1vw #FFF , 60vw 115vw #FFF , 17vw 71vw #FFF , 55vw 62vw #FFF , 114vw 26vw #FFF , 10vw 28vw #FFF , 30vw 7vw #FFF , 50vw 106vw #FFF , 84vw 100vw #FFF , 13vw 28vw #FFF , 109vw 89vw #FFF , 75vw 44vw #FFF , 6vw 10vw #FFF , 73vw 108vw #FFF , 97vw 14vw #FFF , 61vw 94vw #FFF , 102vw 57vw #FFF , 86vw 90vw #FFF , 78vw 78vw #FFF , 40vw 24vw #FFF , 78vw 57vw #FFF , 4vw 109vw #FFF , 16vw 117vw #FFF , 1vw 117vw #FFF , 58vw 106vw #FFF , 100vw 81vw #FFF , 52vw 17vw #FFF , 41vw 6vw #FFF , 19vw 61vw #FFF , 23vw 79vw #FFF , 118vw 11vw #FFF , 10vw 42vw #FFF , 91vw 85vw #FFF , 103vw 57vw #FFF , 48vw 27vw #FFF , 6vw 44vw #FFF , 95vw 46vw #FFF , 9vw 41vw #FFF , 120vw 22vw #FFF , 53vw 60vw #FFF , 90vw 12vw #FFF , 120vw 12vw #FFF , 94vw 115vw #FFF , 11vw 32vw #FFF , 102vw 8vw #FFF , 114vw 103vw #FFF;
}
.wrapper .planktönchen .plankton {
  box-shadow: 80vh 13vh #FFF , 94vw 100vw #FFF , 12vw 43vw #FFF , 108vw 58vw #FFF , 73vw 107vw #FFF , 14vw 88vw #FFF , 47vw 39vw #FFF , 91vw 113vw #FFF , 110vw 81vw #FFF , 87vw 117vw #FFF , 49vw 1vw #FFF , 89vw 16vw #FFF , 47vw 95vw #FFF , 6vw 3vw #FFF , 105vw 42vw #FFF , 43vw 19vw #FFF , 19vw 78vw #FFF , 50vw 34vw #FFF , 97vw 97vw #FFF , 79vw 2vw #FFF , 86vw 41vw #FFF , 40vw 78vw #FFF , 81vw 52vw #FFF , 103vw 84vw #FFF , 28vw 77vw #FFF , 30vw 53vw #FFF , 64vw 99vw #FFF , 97vw 68vw #FFF , 75vw 21vw #FFF , 44vw 71vw #FFF , 8vw 2vw #FFF , 66vw 40vw #FFF , 83vw 78vw #FFF , 44vw 104vw #FFF , 116vw 28vw #FFF , 71vw 31vw #FFF , 13vw 109vw #FFF , 64vw 16vw #FFF , 101vw 117vw #FFF , 98vw 21vw #FFF , 74vw 14vw #FFF , 73vw 10vw #FFF , 95vw 23vw #FFF , 116vw 118vw #FFF , 105vw 78vw #FFF , 46vw 87vw #FFF , 64vw 33vw #FFF , 71vw 109vw #FFF , 23vw 103vw #FFF , 28vw 79vw #FFF , 115vw 31vw #FFF , 32vw 14vw #FFF , 102vw 76vw #FFF , 85vw 1vw #FFF , 43vw 61vw #FFF , 107vw 31vw #FFF , 103vw 17vw #FFF , 66vw 54vw #FFF , 77vw 78vw #FFF , 107vw 54vw #FFF , 65vw 88vw #FFF , 12vw 5vw #FFF , 75vw 68vw #FFF , 1vw 34vw #FFF , 18vw 12vw #FFF , 17vw 3vw #FFF , 27vw 28vw #FFF , 82vw 114vw #FFF , 53vw 17vw #FFF , 102vw 67vw #FFF , 86vw 24vw #FFF , 28vw 74vw #FFF , 68vw 13vw #FFF , 42vw 19vw #FFF , 106vw 98vw #FFF , 58vw 80vw #FFF , 62vw 24vw #FFF , 71vw 39vw #FFF , 94vw 101vw #FFF , 46vw 71vw #FFF , 3vw 27vw #FFF , 1vw 65vw #FFF , 6vw 79vw #FFF , 76vw 52vw #FFF , 107vw 103vw #FFF , 100vw 23vw #FFF , 22vw 55vw #FFF , 74vw 119vw #FFF , 21vw 57vw #FFF , 32vw 48vw #FFF , 25vw 13vw #FFF , 49vw 22vw #FFF , 70vw 16vw #FFF , 46vw 10vw #FFF , 11vw 91vw #FFF , 119vw 31vw #FFF , 2vw 11vw #FFF , 62vw 112vw #FFF , 32vw 87vw #FFF , 113vw 70vw #FFF , 84vw 20vw #FFF , 37vw 44vw #FFF , 109vw 27vw #FFF , 68vw 51vw #FFF , 71vw 117vw #FFF , 72vw 109vw #FFF , 19vw 44vw #FFF , 14vw 57vw #FFF , 18vw 104vw #FFF , 6vw 116vw #FFF , 84vw 118vw #FFF , 58vw 81vw #FFF , 26vw 1vw #FFF , 63vw 77vw #FFF , 92vw 96vw #FFF , 99vw 101vw #FFF , 17vw 76vw #FFF , 8vw 59vw #FFF , 60vw 50vw #FFF , 5vw 117vw #FFF , 57vw 92vw #FFF , 23vw 45vw #FFF , 60vw 111vw #FFF , 27vw 120vw #FFF , 12vw 65vw #FFF , 1vw 21vw #FFF , 28vw 104vw #FFF , 16vw 106vw #FFF , 35vw 88vw #FFF , 63vw 37vw #FFF , 75vw 96vw #FFF , 102vw 79vw #FFF , 96vw 2vw #FFF , 113vw 5vw #FFF , 58vw 9vw #FFF , 59vw 61vw #FFF , 11vw 15vw #FFF , 80vw 10vw #FFF , 34vw 103vw #FFF , 89vw 66vw #FFF , 59vw 116vw #FFF , 105vw 55vw #FFF , 48vw 76vw #FFF , 14vw 113vw #FFF , 91vw 35vw #FFF , 88vw 103vw #FFF , 119vw 80vw #FFF , 115vw 68vw #FFF , 11vw 117vw #FFF , 76vw 74vw #FFF , 39vw 68vw #FFF , 70vw 74vw #FFF , 91vw 10vw #FFF , 112vw 88vw #FFF , 38vw 49vw #FFF , 90vw 32vw #FFF , 65vw 49vw #FFF , 3vw 56vw #FFF , 86vw 16vw #FFF , 19vw 100vw #FFF , 99vw 60vw #FFF , 116vw 115vw #FFF , 80vw 60vw #FFF , 22vw 107vw #FFF , 95vw 14vw #FFF , 61vw 87vw #FFF , 93vw 107vw #FFF , 88vw 2vw #FFF , 114vw 54vw #FFF , 58vw 56vw #FFF , 80vw 72vw #FFF , 60vw 85vw #FFF , 73vw 77vw #FFF , 33vw 25vw #FFF , 49vw 65vw #FFF , 49vw 120vw #FFF , 25vw 41vw #FFF , 115vw 9vw #FFF , 43vw 71vw #FFF , 104vw 28vw #FFF , 78vw 76vw #FFF , 4vw 1vw #FFF , 71vw 104vw #FFF , 75vw 93vw #FFF , 111vw 33vw #FFF , 3vw 31vw #FFF , 118vw 97vw #FFF , 102vw 120vw #FFF , 48vw 106vw #FFF , 99vw 20vw #FFF , 50vw 118vw #FFF , 11vw 33vw #FFF , 82vw 59vw #FFF , 95vw 8vw #FFF , 88vw 22vw #FFF , 5vw 17vw #FFF , 83vw 49vw #FFF , 71vw 75vw #FFF , 40vw 48vw #FFF , 102vw 11vw #FFF , 43vw 80vw #FFF , 19vw 106vw #FFF , 11vw 35vw #FFF , 6vw 47vw #FFF , 94vw 30vw #FFF , 89vw 120vw #FFF , 29vw 116vw #FFF , 91vw 79vw #FFF , 93vw 24vw #FFF , 3vw 57vw #FFF , 43vw 56vw #FFF , 6vw 88vw #FFF , 11vw 54vw #FFF , 19vw 56vw #FFF , 71vw 51vw #FFF , 33vw 76vw #FFF , 88vw 116vw #FFF , 77vw 72vw #FFF , 16vw 41vw #FFF , 7vw 51vw #FFF , 30vw 60vw #FFF , 30vw 104vw #FFF , 109vw 100vw #FFF , 34vw 16vw #FFF , 86vw 105vw #FFF , 62vw 24vw #FFF , 30vw 71vw #FFF , 101vw 38vw #FFF , 88vw 86vw #FFF , 42vw 89vw #FFF , 72vw 18vw #FFF , 86vw 93vw #FFF , 86vw 23vw #FFF , 35vw 41vw #FFF , 45vw 53vw #FFF , 43vw 83vw #FFF , 49vw 93vw #FFF , 115vw 93vw #FFF , 104vw 40vw #FFF , 47vw 31vw #FFF , 21vw 53vw #FFF , 77vw 101vw #FFF , 37vw 39vw #FFF , 54vw 79vw #FFF , 111vw 83vw #FFF , 117vw 74vw #FFF , 47vw 97vw #FFF , 99vw 6vw #FFF , 80vw 14vw #FFF , 83vw 4vw #FFF , 33vw 91vw #FFF , 24vw 83vw #FFF , 7vw 59vw #FFF , 70vw 9vw #FFF , 43vw 89vw #FFF , 6vw 113vw #FFF , 48vw 33vw #FFF , 45vw 1vw #FFF , 48vw 93vw #FFF , 93vw 117vw #FFF , 109vw 74vw #FFF , 96vw 66vw #FFF , 10vw 108vw #FFF , 20vw 89vw #FFF , 50vw 95vw #FFF , 35vw 93vw #FFF , 120vw 49vw #FFF , 7vw 110vw #FFF , 49vw 44vw #FFF , 120vw 21vw #FFF , 3vw 67vw #FFF , 19vw 63vw #FFF , 113vw 25vw #FFF , 11vw 46vw #FFF , 57vw 107vw #FFF , 8vw 93vw #FFF , 48vw 22vw #FFF , 16vw 89vw #FFF , 79vw 55vw #FFF , 30vw 23vw #FFF , 66vw 96vw #FFF , 10vw 34vw #FFF , 57vw 44vw #FFF , 48vw 100vw #FFF , 104vw 55vw #FFF , 108vw 2vw #FFF , 47vw 33vw #FFF , 2vw 61vw #FFF , 68vw 97vw #FFF , 2vw 94vw #FFF , 2vw 27vw #FFF , 100vw 101vw #FFF , 113vw 61vw #FFF , 116vw 46vw #FFF , 99vw 47vw #FFF , 77vw 69vw #FFF , 86vw 76vw #FFF , 61vw 6vw #FFF , 80vw 87vw #FFF , 23vw 3vw #FFF , 21vw 107vw #FFF , 23vw 35vw #FFF , 114vw 39vw #FFF , 62vw 24vw #FFF , 5vw 45vw #FFF , 79vw 86vw #FFF , 3vw 89vw #FFF , 105vw 97vw #FFF , 52vw 53vw #FFF , 24vw 63vw #FFF , 47vw 18vw #FFF , 88vw 87vw #FFF , 81vw 107vw #FFF , 13vw 90vw #FFF , 58vw 90vw #FFF , 99vw 59vw #FFF , 50vw 89vw #FFF , 78vw 47vw #FFF , 79vw 28vw #FFF , 86vw 72vw #FFF , 42vw 67vw #FFF , 53vw 26vw #FFF , 32vw 74vw #FFF , 40vw 53vw #FFF , 43vw 89vw #FFF , 100vw 25vw #FFF , 20vw 117vw #FFF , 65vw 91vw #FFF , 46vw 17vw #FFF , 17vw 41vw #FFF , 112vw 14vw #FFF , 107vw 1vw #FFF , 85vw 120vw #FFF , 96vw 80vw #FFF , 16vw 83vw #FFF , 51vw 46vw #FFF , 43vw 4vw #FFF , 66vw 49vw #FFF , 65vw 36vw #FFF , 88vw 33vw #FFF , 78vw 105vw #FFF , 61vw 56vw #FFF , 47vw 86vw #FFF , 85vw 21vw #FFF , 17vw 12vw #FFF , 89vw 22vw #FFF , 17vw 41vw #FFF , 76vw 57vw #FFF , 43vw 115vw #FFF , 9vw 104vw #FFF , 39vw 68vw #FFF , 83vw 69vw #FFF , 45vw 79vw #FFF , 7vw 75vw #FFF , 106vw 1vw #FFF , 60vw 115vw #FFF , 17vw 71vw #FFF , 55vw 62vw #FFF , 114vw 26vw #FFF , 10vw 28vw #FFF , 30vw 7vw #FFF , 50vw 106vw #FFF , 84vw 100vw #FFF , 13vw 28vw #FFF , 109vw 89vw #FFF , 75vw 44vw #FFF , 6vw 10vw #FFF , 73vw 108vw #FFF , 97vw 14vw #FFF , 61vw 94vw #FFF , 102vw 57vw #FFF , 86vw 90vw #FFF , 78vw 78vw #FFF , 40vw 24vw #FFF , 78vw 57vw #FFF , 4vw 109vw #FFF , 16vw 117vw #FFF , 1vw 117vw #FFF , 58vw 106vw #FFF , 100vw 81vw #FFF , 52vw 17vw #FFF , 41vw 6vw #FFF , 19vw 61vw #FFF , 23vw 79vw #FFF , 118vw 11vw #FFF , 10vw 42vw #FFF , 91vw 85vw #FFF , 103vw 57vw #FFF , 48vw 27vw #FFF , 6vw 44vw #FFF , 95vw 46vw #FFF , 9vw 41vw #FFF , 120vw 22vw #FFF , 53vw 60vw #FFF , 90vw 12vw #FFF , 120vw 12vw #FFF , 94vw 115vw #FFF , 11vw 32vw #FFF , 102vw 8vw #FFF , 114vw 103vw #FFF;
  animation: animStar 5s linear;
}
.wrapper .planktönchen .plankton:after {
  box-shadow: 80vh 13vh #FFF , 94vw 100vw #FFF , 12vw 43vw #FFF , 108vw 58vw #FFF , 73vw 107vw #FFF , 14vw 88vw #FFF , 47vw 39vw #FFF , 91vw 113vw #FFF , 110vw 81vw #FFF , 87vw 117vw #FFF , 49vw 1vw #FFF , 89vw 16vw #FFF , 47vw 95vw #FFF , 6vw 3vw #FFF , 105vw 42vw #FFF , 43vw 19vw #FFF , 19vw 78vw #FFF , 50vw 34vw #FFF , 97vw 97vw #FFF , 79vw 2vw #FFF , 86vw 41vw #FFF , 40vw 78vw #FFF , 81vw 52vw #FFF , 103vw 84vw #FFF , 28vw 77vw #FFF , 30vw 53vw #FFF , 64vw 99vw #FFF , 97vw 68vw #FFF , 75vw 21vw #FFF , 44vw 71vw #FFF , 8vw 2vw #FFF , 66vw 40vw #FFF , 83vw 78vw #FFF , 44vw 104vw #FFF , 116vw 28vw #FFF , 71vw 31vw #FFF , 13vw 109vw #FFF , 64vw 16vw #FFF , 101vw 117vw #FFF , 98vw 21vw #FFF , 74vw 14vw #FFF , 73vw 10vw #FFF , 95vw 23vw #FFF , 116vw 118vw #FFF , 105vw 78vw #FFF , 46vw 87vw #FFF , 64vw 33vw #FFF , 71vw 109vw #FFF , 23vw 103vw #FFF , 28vw 79vw #FFF , 115vw 31vw #FFF , 32vw 14vw #FFF , 102vw 76vw #FFF , 85vw 1vw #FFF , 43vw 61vw #FFF , 107vw 31vw #FFF , 103vw 17vw #FFF , 66vw 54vw #FFF , 77vw 78vw #FFF , 107vw 54vw #FFF , 65vw 88vw #FFF , 12vw 5vw #FFF , 75vw 68vw #FFF , 1vw 34vw #FFF , 18vw 12vw #FFF , 17vw 3vw #FFF , 27vw 28vw #FFF , 82vw 114vw #FFF , 53vw 17vw #FFF , 102vw 67vw #FFF , 86vw 24vw #FFF , 28vw 74vw #FFF , 68vw 13vw #FFF , 42vw 19vw #FFF , 106vw 98vw #FFF , 58vw 80vw #FFF , 62vw 24vw #FFF , 71vw 39vw #FFF , 94vw 101vw #FFF , 46vw 71vw #FFF , 3vw 27vw #FFF , 1vw 65vw #FFF , 6vw 79vw #FFF , 76vw 52vw #FFF , 107vw 103vw #FFF , 100vw 23vw #FFF , 22vw 55vw #FFF , 74vw 119vw #FFF , 21vw 57vw #FFF , 32vw 48vw #FFF , 25vw 13vw #FFF , 49vw 22vw #FFF , 70vw 16vw #FFF , 46vw 10vw #FFF , 11vw 91vw #FFF , 119vw 31vw #FFF , 2vw 11vw #FFF , 62vw 112vw #FFF , 32vw 87vw #FFF , 113vw 70vw #FFF , 84vw 20vw #FFF , 37vw 44vw #FFF , 109vw 27vw #FFF , 68vw 51vw #FFF , 71vw 117vw #FFF , 72vw 109vw #FFF , 19vw 44vw #FFF , 14vw 57vw #FFF , 18vw 104vw #FFF , 6vw 116vw #FFF , 84vw 118vw #FFF , 58vw 81vw #FFF , 26vw 1vw #FFF , 63vw 77vw #FFF , 92vw 96vw #FFF , 99vw 101vw #FFF , 17vw 76vw #FFF , 8vw 59vw #FFF , 60vw 50vw #FFF , 5vw 117vw #FFF , 57vw 92vw #FFF , 23vw 45vw #FFF , 60vw 111vw #FFF , 27vw 120vw #FFF , 12vw 65vw #FFF , 1vw 21vw #FFF , 28vw 104vw #FFF , 16vw 106vw #FFF , 35vw 88vw #FFF , 63vw 37vw #FFF , 75vw 96vw #FFF , 102vw 79vw #FFF , 96vw 2vw #FFF , 113vw 5vw #FFF , 58vw 9vw #FFF , 59vw 61vw #FFF , 11vw 15vw #FFF , 80vw 10vw #FFF , 34vw 103vw #FFF , 89vw 66vw #FFF , 59vw 116vw #FFF , 105vw 55vw #FFF , 48vw 76vw #FFF , 14vw 113vw #FFF , 91vw 35vw #FFF , 88vw 103vw #FFF , 119vw 80vw #FFF , 115vw 68vw #FFF , 11vw 117vw #FFF , 76vw 74vw #FFF , 39vw 68vw #FFF , 70vw 74vw #FFF , 91vw 10vw #FFF , 112vw 88vw #FFF , 38vw 49vw #FFF , 90vw 32vw #FFF , 65vw 49vw #FFF , 3vw 56vw #FFF , 86vw 16vw #FFF , 19vw 100vw #FFF , 99vw 60vw #FFF , 116vw 115vw #FFF , 80vw 60vw #FFF , 22vw 107vw #FFF , 95vw 14vw #FFF , 61vw 87vw #FFF , 93vw 107vw #FFF , 88vw 2vw #FFF , 114vw 54vw #FFF , 58vw 56vw #FFF , 80vw 72vw #FFF , 60vw 85vw #FFF , 73vw 77vw #FFF , 33vw 25vw #FFF , 49vw 65vw #FFF , 49vw 120vw #FFF , 25vw 41vw #FFF , 115vw 9vw #FFF , 43vw 71vw #FFF , 104vw 28vw #FFF , 78vw 76vw #FFF , 4vw 1vw #FFF , 71vw 104vw #FFF , 75vw 93vw #FFF , 111vw 33vw #FFF , 3vw 31vw #FFF , 118vw 97vw #FFF , 102vw 120vw #FFF , 48vw 106vw #FFF , 99vw 20vw #FFF , 50vw 118vw #FFF , 11vw 33vw #FFF , 82vw 59vw #FFF , 95vw 8vw #FFF , 88vw 22vw #FFF , 5vw 17vw #FFF , 83vw 49vw #FFF , 71vw 75vw #FFF , 40vw 48vw #FFF , 102vw 11vw #FFF , 43vw 80vw #FFF , 19vw 106vw #FFF , 11vw 35vw #FFF , 6vw 47vw #FFF , 94vw 30vw #FFF , 89vw 120vw #FFF , 29vw 116vw #FFF , 91vw 79vw #FFF , 93vw 24vw #FFF , 3vw 57vw #FFF , 43vw 56vw #FFF , 6vw 88vw #FFF , 11vw 54vw #FFF , 19vw 56vw #FFF , 71vw 51vw #FFF , 33vw 76vw #FFF , 88vw 116vw #FFF , 77vw 72vw #FFF , 16vw 41vw #FFF , 7vw 51vw #FFF , 30vw 60vw #FFF , 30vw 104vw #FFF , 109vw 100vw #FFF , 34vw 16vw #FFF , 86vw 105vw #FFF , 62vw 24vw #FFF , 30vw 71vw #FFF , 101vw 38vw #FFF , 88vw 86vw #FFF , 42vw 89vw #FFF , 72vw 18vw #FFF , 86vw 93vw #FFF , 86vw 23vw #FFF , 35vw 41vw #FFF , 45vw 53vw #FFF , 43vw 83vw #FFF , 49vw 93vw #FFF , 115vw 93vw #FFF , 104vw 40vw #FFF , 47vw 31vw #FFF , 21vw 53vw #FFF , 77vw 101vw #FFF , 37vw 39vw #FFF , 54vw 79vw #FFF , 111vw 83vw #FFF , 117vw 74vw #FFF , 47vw 97vw #FFF , 99vw 6vw #FFF , 80vw 14vw #FFF , 83vw 4vw #FFF , 33vw 91vw #FFF , 24vw 83vw #FFF , 7vw 59vw #FFF , 70vw 9vw #FFF , 43vw 89vw #FFF , 6vw 113vw #FFF , 48vw 33vw #FFF , 45vw 1vw #FFF , 48vw 93vw #FFF , 93vw 117vw #FFF , 109vw 74vw #FFF , 96vw 66vw #FFF , 10vw 108vw #FFF , 20vw 89vw #FFF , 50vw 95vw #FFF , 35vw 93vw #FFF , 120vw 49vw #FFF , 7vw 110vw #FFF , 49vw 44vw #FFF , 120vw 21vw #FFF , 3vw 67vw #FFF , 19vw 63vw #FFF , 113vw 25vw #FFF , 11vw 46vw #FFF , 57vw 107vw #FFF , 8vw 93vw #FFF , 48vw 22vw #FFF , 16vw 89vw #FFF , 79vw 55vw #FFF , 30vw 23vw #FFF , 66vw 96vw #FFF , 10vw 34vw #FFF , 57vw 44vw #FFF , 48vw 100vw #FFF , 104vw 55vw #FFF , 108vw 2vw #FFF , 47vw 33vw #FFF , 2vw 61vw #FFF , 68vw 97vw #FFF , 2vw 94vw #FFF , 2vw 27vw #FFF , 100vw 101vw #FFF , 113vw 61vw #FFF , 116vw 46vw #FFF , 99vw 47vw #FFF , 77vw 69vw #FFF , 86vw 76vw #FFF , 61vw 6vw #FFF , 80vw 87vw #FFF , 23vw 3vw #FFF , 21vw 107vw #FFF , 23vw 35vw #FFF , 114vw 39vw #FFF , 62vw 24vw #FFF , 5vw 45vw #FFF , 79vw 86vw #FFF , 3vw 89vw #FFF , 105vw 97vw #FFF , 52vw 53vw #FFF , 24vw 63vw #FFF , 47vw 18vw #FFF , 88vw 87vw #FFF , 81vw 107vw #FFF , 13vw 90vw #FFF , 58vw 90vw #FFF , 99vw 59vw #FFF , 50vw 89vw #FFF , 78vw 47vw #FFF , 79vw 28vw #FFF , 86vw 72vw #FFF , 42vw 67vw #FFF , 53vw 26vw #FFF , 32vw 74vw #FFF , 40vw 53vw #FFF , 43vw 89vw #FFF , 100vw 25vw #FFF , 20vw 117vw #FFF , 65vw 91vw #FFF , 46vw 17vw #FFF , 17vw 41vw #FFF , 112vw 14vw #FFF , 107vw 1vw #FFF , 85vw 120vw #FFF , 96vw 80vw #FFF , 16vw 83vw #FFF , 51vw 46vw #FFF , 43vw 4vw #FFF , 66vw 49vw #FFF , 65vw 36vw #FFF , 88vw 33vw #FFF , 78vw 105vw #FFF , 61vw 56vw #FFF , 47vw 86vw #FFF , 85vw 21vw #FFF , 17vw 12vw #FFF , 89vw 22vw #FFF , 17vw 41vw #FFF , 76vw 57vw #FFF , 43vw 115vw #FFF , 9vw 104vw #FFF , 39vw 68vw #FFF , 83vw 69vw #FFF , 45vw 79vw #FFF , 7vw 75vw #FFF , 106vw 1vw #FFF , 60vw 115vw #FFF , 17vw 71vw #FFF , 55vw 62vw #FFF , 114vw 26vw #FFF , 10vw 28vw #FFF , 30vw 7vw #FFF , 50vw 106vw #FFF , 84vw 100vw #FFF , 13vw 28vw #FFF , 109vw 89vw #FFF , 75vw 44vw #FFF , 6vw 10vw #FFF , 73vw 108vw #FFF , 97vw 14vw #FFF , 61vw 94vw #FFF , 102vw 57vw #FFF , 86vw 90vw #FFF , 78vw 78vw #FFF , 40vw 24vw #FFF , 78vw 57vw #FFF , 4vw 109vw #FFF , 16vw 117vw #FFF , 1vw 117vw #FFF , 58vw 106vw #FFF , 100vw 81vw #FFF , 52vw 17vw #FFF , 41vw 6vw #FFF , 19vw 61vw #FFF , 23vw 79vw #FFF , 118vw 11vw #FFF , 10vw 42vw #FFF , 91vw 85vw #FFF , 103vw 57vw #FFF , 48vw 27vw #FFF , 6vw 44vw #FFF , 95vw 46vw #FFF , 9vw 41vw #FFF , 120vw 22vw #FFF , 53vw 60vw #FFF , 90vw 12vw #FFF , 120vw 12vw #FFF , 94vw 115vw #FFF , 11vw 32vw #FFF , 102vw 8vw #FFF , 114vw 103vw #FFF;
}
.wrapper .planktönchen .plankton1 {
  box-shadow: 80vh 13vh #FFF , 94vw 100vw #FFF , 12vw 43vw #FFF , 108vw 58vw #FFF , 73vw 107vw #FFF , 14vw 88vw #FFF , 47vw 39vw #FFF , 91vw 113vw #FFF , 110vw 81vw #FFF , 87vw 117vw #FFF , 49vw 1vw #FFF , 89vw 16vw #FFF , 47vw 95vw #FFF , 6vw 3vw #FFF , 105vw 42vw #FFF , 43vw 19vw #FFF , 19vw 78vw #FFF , 50vw 34vw #FFF , 97vw 97vw #FFF , 79vw 2vw #FFF , 86vw 41vw #FFF , 40vw 78vw #FFF , 81vw 52vw #FFF , 103vw 84vw #FFF , 28vw 77vw #FFF , 30vw 53vw #FFF , 64vw 99vw #FFF , 97vw 68vw #FFF , 75vw 21vw #FFF , 44vw 71vw #FFF , 8vw 2vw #FFF , 66vw 40vw #FFF , 83vw 78vw #FFF , 44vw 104vw #FFF , 116vw 28vw #FFF , 71vw 31vw #FFF , 13vw 109vw #FFF , 64vw 16vw #FFF , 101vw 117vw #FFF , 98vw 21vw #FFF , 74vw 14vw #FFF , 73vw 10vw #FFF , 95vw 23vw #FFF , 116vw 118vw #FFF , 105vw 78vw #FFF , 46vw 87vw #FFF , 64vw 33vw #FFF , 71vw 109vw #FFF , 23vw 103vw #FFF , 28vw 79vw #FFF , 115vw 31vw #FFF , 32vw 14vw #FFF , 102vw 76vw #FFF , 85vw 1vw #FFF , 43vw 61vw #FFF , 107vw 31vw #FFF , 103vw 17vw #FFF , 66vw 54vw #FFF , 77vw 78vw #FFF , 107vw 54vw #FFF , 65vw 88vw #FFF , 12vw 5vw #FFF , 75vw 68vw #FFF , 1vw 34vw #FFF , 18vw 12vw #FFF , 17vw 3vw #FFF , 27vw 28vw #FFF , 82vw 114vw #FFF , 53vw 17vw #FFF , 102vw 67vw #FFF , 86vw 24vw #FFF , 28vw 74vw #FFF , 68vw 13vw #FFF , 42vw 19vw #FFF , 106vw 98vw #FFF , 58vw 80vw #FFF , 62vw 24vw #FFF , 71vw 39vw #FFF , 94vw 101vw #FFF , 46vw 71vw #FFF , 3vw 27vw #FFF , 1vw 65vw #FFF , 6vw 79vw #FFF , 76vw 52vw #FFF , 107vw 103vw #FFF , 100vw 23vw #FFF , 22vw 55vw #FFF , 74vw 119vw #FFF , 21vw 57vw #FFF , 32vw 48vw #FFF , 25vw 13vw #FFF , 49vw 22vw #FFF , 70vw 16vw #FFF , 46vw 10vw #FFF , 11vw 91vw #FFF , 119vw 31vw #FFF , 2vw 11vw #FFF , 62vw 112vw #FFF , 32vw 87vw #FFF , 113vw 70vw #FFF , 84vw 20vw #FFF , 37vw 44vw #FFF , 109vw 27vw #FFF , 68vw 51vw #FFF , 71vw 117vw #FFF , 72vw 109vw #FFF , 19vw 44vw #FFF , 14vw 57vw #FFF , 18vw 104vw #FFF , 6vw 116vw #FFF , 84vw 118vw #FFF , 58vw 81vw #FFF , 26vw 1vw #FFF , 63vw 77vw #FFF , 92vw 96vw #FFF , 99vw 101vw #FFF , 17vw 76vw #FFF , 8vw 59vw #FFF , 60vw 50vw #FFF , 5vw 117vw #FFF , 57vw 92vw #FFF , 23vw 45vw #FFF , 60vw 111vw #FFF , 27vw 120vw #FFF , 12vw 65vw #FFF , 1vw 21vw #FFF , 28vw 104vw #FFF , 16vw 106vw #FFF , 35vw 88vw #FFF , 63vw 37vw #FFF , 75vw 96vw #FFF , 102vw 79vw #FFF , 96vw 2vw #FFF , 113vw 5vw #FFF , 58vw 9vw #FFF , 59vw 61vw #FFF , 11vw 15vw #FFF , 80vw 10vw #FFF , 34vw 103vw #FFF , 89vw 66vw #FFF , 59vw 116vw #FFF , 105vw 55vw #FFF , 48vw 76vw #FFF , 14vw 113vw #FFF , 91vw 35vw #FFF , 88vw 103vw #FFF , 119vw 80vw #FFF , 115vw 68vw #FFF , 11vw 117vw #FFF , 76vw 74vw #FFF , 39vw 68vw #FFF , 70vw 74vw #FFF , 91vw 10vw #FFF , 112vw 88vw #FFF , 38vw 49vw #FFF , 90vw 32vw #FFF , 65vw 49vw #FFF , 3vw 56vw #FFF , 86vw 16vw #FFF , 19vw 100vw #FFF , 99vw 60vw #FFF , 116vw 115vw #FFF , 80vw 60vw #FFF , 22vw 107vw #FFF , 95vw 14vw #FFF , 61vw 87vw #FFF , 93vw 107vw #FFF , 88vw 2vw #FFF , 114vw 54vw #FFF , 58vw 56vw #FFF , 80vw 72vw #FFF , 60vw 85vw #FFF , 73vw 77vw #FFF , 33vw 25vw #FFF , 49vw 65vw #FFF , 49vw 120vw #FFF , 25vw 41vw #FFF , 115vw 9vw #FFF , 43vw 71vw #FFF , 104vw 28vw #FFF , 78vw 76vw #FFF , 4vw 1vw #FFF , 71vw 104vw #FFF , 75vw 93vw #FFF , 111vw 33vw #FFF , 3vw 31vw #FFF , 118vw 97vw #FFF , 102vw 120vw #FFF , 48vw 106vw #FFF , 99vw 20vw #FFF , 50vw 118vw #FFF , 11vw 33vw #FFF , 82vw 59vw #FFF , 95vw 8vw #FFF , 88vw 22vw #FFF , 5vw 17vw #FFF , 83vw 49vw #FFF , 71vw 75vw #FFF , 40vw 48vw #FFF , 102vw 11vw #FFF , 43vw 80vw #FFF , 19vw 106vw #FFF , 11vw 35vw #FFF , 6vw 47vw #FFF , 94vw 30vw #FFF , 89vw 120vw #FFF , 29vw 116vw #FFF , 91vw 79vw #FFF , 93vw 24vw #FFF , 3vw 57vw #FFF , 43vw 56vw #FFF , 6vw 88vw #FFF , 11vw 54vw #FFF , 19vw 56vw #FFF , 71vw 51vw #FFF , 33vw 76vw #FFF , 88vw 116vw #FFF , 77vw 72vw #FFF , 16vw 41vw #FFF , 7vw 51vw #FFF , 30vw 60vw #FFF , 30vw 104vw #FFF , 109vw 100vw #FFF , 34vw 16vw #FFF , 86vw 105vw #FFF , 62vw 24vw #FFF , 30vw 71vw #FFF , 101vw 38vw #FFF , 88vw 86vw #FFF , 42vw 89vw #FFF , 72vw 18vw #FFF , 86vw 93vw #FFF , 86vw 23vw #FFF , 35vw 41vw #FFF , 45vw 53vw #FFF , 43vw 83vw #FFF , 49vw 93vw #FFF , 115vw 93vw #FFF , 104vw 40vw #FFF , 47vw 31vw #FFF , 21vw 53vw #FFF , 77vw 101vw #FFF , 37vw 39vw #FFF , 54vw 79vw #FFF , 111vw 83vw #FFF , 117vw 74vw #FFF , 47vw 97vw #FFF , 99vw 6vw #FFF , 80vw 14vw #FFF , 83vw 4vw #FFF , 33vw 91vw #FFF , 24vw 83vw #FFF , 7vw 59vw #FFF , 70vw 9vw #FFF , 43vw 89vw #FFF , 6vw 113vw #FFF , 48vw 33vw #FFF , 45vw 1vw #FFF , 48vw 93vw #FFF , 93vw 117vw #FFF , 109vw 74vw #FFF , 96vw 66vw #FFF , 10vw 108vw #FFF , 20vw 89vw #FFF , 50vw 95vw #FFF , 35vw 93vw #FFF , 120vw 49vw #FFF , 7vw 110vw #FFF , 49vw 44vw #FFF , 120vw 21vw #FFF , 3vw 67vw #FFF , 19vw 63vw #FFF , 113vw 25vw #FFF , 11vw 46vw #FFF , 57vw 107vw #FFF , 8vw 93vw #FFF , 48vw 22vw #FFF , 16vw 89vw #FFF , 79vw 55vw #FFF , 30vw 23vw #FFF , 66vw 96vw #FFF , 10vw 34vw #FFF , 57vw 44vw #FFF , 48vw 100vw #FFF , 104vw 55vw #FFF , 108vw 2vw #FFF , 47vw 33vw #FFF , 2vw 61vw #FFF , 68vw 97vw #FFF , 2vw 94vw #FFF , 2vw 27vw #FFF , 100vw 101vw #FFF , 113vw 61vw #FFF , 116vw 46vw #FFF , 99vw 47vw #FFF , 77vw 69vw #FFF , 86vw 76vw #FFF , 61vw 6vw #FFF , 80vw 87vw #FFF , 23vw 3vw #FFF , 21vw 107vw #FFF , 23vw 35vw #FFF , 114vw 39vw #FFF , 62vw 24vw #FFF , 5vw 45vw #FFF , 79vw 86vw #FFF , 3vw 89vw #FFF , 105vw 97vw #FFF , 52vw 53vw #FFF , 24vw 63vw #FFF , 47vw 18vw #FFF , 88vw 87vw #FFF , 81vw 107vw #FFF , 13vw 90vw #FFF , 58vw 90vw #FFF , 99vw 59vw #FFF , 50vw 89vw #FFF , 78vw 47vw #FFF , 79vw 28vw #FFF , 86vw 72vw #FFF , 42vw 67vw #FFF , 53vw 26vw #FFF , 32vw 74vw #FFF , 40vw 53vw #FFF , 43vw 89vw #FFF , 100vw 25vw #FFF , 20vw 117vw #FFF , 65vw 91vw #FFF , 46vw 17vw #FFF , 17vw 41vw #FFF , 112vw 14vw #FFF , 107vw 1vw #FFF , 85vw 120vw #FFF , 96vw 80vw #FFF , 16vw 83vw #FFF , 51vw 46vw #FFF , 43vw 4vw #FFF , 66vw 49vw #FFF , 65vw 36vw #FFF , 88vw 33vw #FFF , 78vw 105vw #FFF , 61vw 56vw #FFF , 47vw 86vw #FFF , 85vw 21vw #FFF , 17vw 12vw #FFF , 89vw 22vw #FFF , 17vw 41vw #FFF , 76vw 57vw #FFF , 43vw 115vw #FFF , 9vw 104vw #FFF , 39vw 68vw #FFF , 83vw 69vw #FFF , 45vw 79vw #FFF , 7vw 75vw #FFF , 106vw 1vw #FFF , 60vw 115vw #FFF , 17vw 71vw #FFF , 55vw 62vw #FFF , 114vw 26vw #FFF , 10vw 28vw #FFF , 30vw 7vw #FFF , 50vw 106vw #FFF , 84vw 100vw #FFF , 13vw 28vw #FFF , 109vw 89vw #FFF , 75vw 44vw #FFF , 6vw 10vw #FFF , 73vw 108vw #FFF , 97vw 14vw #FFF , 61vw 94vw #FFF , 102vw 57vw #FFF , 86vw 90vw #FFF , 78vw 78vw #FFF , 40vw 24vw #FFF , 78vw 57vw #FFF , 4vw 109vw #FFF , 16vw 117vw #FFF , 1vw 117vw #FFF , 58vw 106vw #FFF , 100vw 81vw #FFF , 52vw 17vw #FFF , 41vw 6vw #FFF , 19vw 61vw #FFF , 23vw 79vw #FFF , 118vw 11vw #FFF , 10vw 42vw #FFF , 91vw 85vw #FFF , 103vw 57vw #FFF , 48vw 27vw #FFF , 6vw 44vw #FFF , 95vw 46vw #FFF , 9vw 41vw #FFF , 120vw 22vw #FFF , 53vw 60vw #FFF , 90vw 12vw #FFF , 120vw 12vw #FFF , 94vw 115vw #FFF , 11vw 32vw #FFF , 102vw 8vw #FFF , 114vw 103vw #FFF;
  animation: animStar 25s linear;
}
.wrapper .planktönchen .plankton1:after {
  box-shadow: 80vh 13vh #FFF , 94vw 100vw #FFF , 12vw 43vw #FFF , 108vw 58vw #FFF , 73vw 107vw #FFF , 14vw 88vw #FFF , 47vw 39vw #FFF , 91vw 113vw #FFF , 110vw 81vw #FFF , 87vw 117vw #FFF , 49vw 1vw #FFF , 89vw 16vw #FFF , 47vw 95vw #FFF , 6vw 3vw #FFF , 105vw 42vw #FFF , 43vw 19vw #FFF , 19vw 78vw #FFF , 50vw 34vw #FFF , 97vw 97vw #FFF , 79vw 2vw #FFF , 86vw 41vw #FFF , 40vw 78vw #FFF , 81vw 52vw #FFF , 103vw 84vw #FFF , 28vw 77vw #FFF , 30vw 53vw #FFF , 64vw 99vw #FFF , 97vw 68vw #FFF , 75vw 21vw #FFF , 44vw 71vw #FFF , 8vw 2vw #FFF , 66vw 40vw #FFF , 83vw 78vw #FFF , 44vw 104vw #FFF , 116vw 28vw #FFF , 71vw 31vw #FFF , 13vw 109vw #FFF , 64vw 16vw #FFF , 101vw 117vw #FFF , 98vw 21vw #FFF , 74vw 14vw #FFF , 73vw 10vw #FFF , 95vw 23vw #FFF , 116vw 118vw #FFF , 105vw 78vw #FFF , 46vw 87vw #FFF , 64vw 33vw #FFF , 71vw 109vw #FFF , 23vw 103vw #FFF , 28vw 79vw #FFF , 115vw 31vw #FFF , 32vw 14vw #FFF , 102vw 76vw #FFF , 85vw 1vw #FFF , 43vw 61vw #FFF , 107vw 31vw #FFF , 103vw 17vw #FFF , 66vw 54vw #FFF , 77vw 78vw #FFF , 107vw 54vw #FFF , 65vw 88vw #FFF , 12vw 5vw #FFF , 75vw 68vw #FFF , 1vw 34vw #FFF , 18vw 12vw #FFF , 17vw 3vw #FFF , 27vw 28vw #FFF , 82vw 114vw #FFF , 53vw 17vw #FFF , 102vw 67vw #FFF , 86vw 24vw #FFF , 28vw 74vw #FFF , 68vw 13vw #FFF , 42vw 19vw #FFF , 106vw 98vw #FFF , 58vw 80vw #FFF , 62vw 24vw #FFF , 71vw 39vw #FFF , 94vw 101vw #FFF , 46vw 71vw #FFF , 3vw 27vw #FFF , 1vw 65vw #FFF , 6vw 79vw #FFF , 76vw 52vw #FFF , 107vw 103vw #FFF , 100vw 23vw #FFF , 22vw 55vw #FFF , 74vw 119vw #FFF , 21vw 57vw #FFF , 32vw 48vw #FFF , 25vw 13vw #FFF , 49vw 22vw #FFF , 70vw 16vw #FFF , 46vw 10vw #FFF , 11vw 91vw #FFF , 119vw 31vw #FFF , 2vw 11vw #FFF , 62vw 112vw #FFF , 32vw 87vw #FFF , 113vw 70vw #FFF , 84vw 20vw #FFF , 37vw 44vw #FFF , 109vw 27vw #FFF , 68vw 51vw #FFF , 71vw 117vw #FFF , 72vw 109vw #FFF , 19vw 44vw #FFF , 14vw 57vw #FFF , 18vw 104vw #FFF , 6vw 116vw #FFF , 84vw 118vw #FFF , 58vw 81vw #FFF , 26vw 1vw #FFF , 63vw 77vw #FFF , 92vw 96vw #FFF , 99vw 101vw #FFF , 17vw 76vw #FFF , 8vw 59vw #FFF , 60vw 50vw #FFF , 5vw 117vw #FFF , 57vw 92vw #FFF , 23vw 45vw #FFF , 60vw 111vw #FFF , 27vw 120vw #FFF , 12vw 65vw #FFF , 1vw 21vw #FFF , 28vw 104vw #FFF , 16vw 106vw #FFF , 35vw 88vw #FFF , 63vw 37vw #FFF , 75vw 96vw #FFF , 102vw 79vw #FFF , 96vw 2vw #FFF , 113vw 5vw #FFF , 58vw 9vw #FFF , 59vw 61vw #FFF , 11vw 15vw #FFF , 80vw 10vw #FFF , 34vw 103vw #FFF , 89vw 66vw #FFF , 59vw 116vw #FFF , 105vw 55vw #FFF , 48vw 76vw #FFF , 14vw 113vw #FFF , 91vw 35vw #FFF , 88vw 103vw #FFF , 119vw 80vw #FFF , 115vw 68vw #FFF , 11vw 117vw #FFF , 76vw 74vw #FFF , 39vw 68vw #FFF , 70vw 74vw #FFF , 91vw 10vw #FFF , 112vw 88vw #FFF , 38vw 49vw #FFF , 90vw 32vw #FFF , 65vw 49vw #FFF , 3vw 56vw #FFF , 86vw 16vw #FFF , 19vw 100vw #FFF , 99vw 60vw #FFF , 116vw 115vw #FFF , 80vw 60vw #FFF , 22vw 107vw #FFF , 95vw 14vw #FFF , 61vw 87vw #FFF , 93vw 107vw #FFF , 88vw 2vw #FFF , 114vw 54vw #FFF , 58vw 56vw #FFF , 80vw 72vw #FFF , 60vw 85vw #FFF , 73vw 77vw #FFF , 33vw 25vw #FFF , 49vw 65vw #FFF , 49vw 120vw #FFF , 25vw 41vw #FFF , 115vw 9vw #FFF , 43vw 71vw #FFF , 104vw 28vw #FFF , 78vw 76vw #FFF , 4vw 1vw #FFF , 71vw 104vw #FFF , 75vw 93vw #FFF , 111vw 33vw #FFF , 3vw 31vw #FFF , 118vw 97vw #FFF , 102vw 120vw #FFF , 48vw 106vw #FFF , 99vw 20vw #FFF , 50vw 118vw #FFF , 11vw 33vw #FFF , 82vw 59vw #FFF , 95vw 8vw #FFF , 88vw 22vw #FFF , 5vw 17vw #FFF , 83vw 49vw #FFF , 71vw 75vw #FFF , 40vw 48vw #FFF , 102vw 11vw #FFF , 43vw 80vw #FFF , 19vw 106vw #FFF , 11vw 35vw #FFF , 6vw 47vw #FFF , 94vw 30vw #FFF , 89vw 120vw #FFF , 29vw 116vw #FFF , 91vw 79vw #FFF , 93vw 24vw #FFF , 3vw 57vw #FFF , 43vw 56vw #FFF , 6vw 88vw #FFF , 11vw 54vw #FFF , 19vw 56vw #FFF , 71vw 51vw #FFF , 33vw 76vw #FFF , 88vw 116vw #FFF , 77vw 72vw #FFF , 16vw 41vw #FFF , 7vw 51vw #FFF , 30vw 60vw #FFF , 30vw 104vw #FFF , 109vw 100vw #FFF , 34vw 16vw #FFF , 86vw 105vw #FFF , 62vw 24vw #FFF , 30vw 71vw #FFF , 101vw 38vw #FFF , 88vw 86vw #FFF , 42vw 89vw #FFF , 72vw 18vw #FFF , 86vw 93vw #FFF , 86vw 23vw #FFF , 35vw 41vw #FFF , 45vw 53vw #FFF , 43vw 83vw #FFF , 49vw 93vw #FFF , 115vw 93vw #FFF , 104vw 40vw #FFF , 47vw 31vw #FFF , 21vw 53vw #FFF , 77vw 101vw #FFF , 37vw 39vw #FFF , 54vw 79vw #FFF , 111vw 83vw #FFF , 117vw 74vw #FFF , 47vw 97vw #FFF , 99vw 6vw #FFF , 80vw 14vw #FFF , 83vw 4vw #FFF , 33vw 91vw #FFF , 24vw 83vw #FFF , 7vw 59vw #FFF , 70vw 9vw #FFF , 43vw 89vw #FFF , 6vw 113vw #FFF , 48vw 33vw #FFF , 45vw 1vw #FFF , 48vw 93vw #FFF , 93vw 117vw #FFF , 109vw 74vw #FFF , 96vw 66vw #FFF , 10vw 108vw #FFF , 20vw 89vw #FFF , 50vw 95vw #FFF , 35vw 93vw #FFF , 120vw 49vw #FFF , 7vw 110vw #FFF , 49vw 44vw #FFF , 120vw 21vw #FFF , 3vw 67vw #FFF , 19vw 63vw #FFF , 113vw 25vw #FFF , 11vw 46vw #FFF , 57vw 107vw #FFF , 8vw 93vw #FFF , 48vw 22vw #FFF , 16vw 89vw #FFF , 79vw 55vw #FFF , 30vw 23vw #FFF , 66vw 96vw #FFF , 10vw 34vw #FFF , 57vw 44vw #FFF , 48vw 100vw #FFF , 104vw 55vw #FFF , 108vw 2vw #FFF , 47vw 33vw #FFF , 2vw 61vw #FFF , 68vw 97vw #FFF , 2vw 94vw #FFF , 2vw 27vw #FFF , 100vw 101vw #FFF , 113vw 61vw #FFF , 116vw 46vw #FFF , 99vw 47vw #FFF , 77vw 69vw #FFF , 86vw 76vw #FFF , 61vw 6vw #FFF , 80vw 87vw #FFF , 23vw 3vw #FFF , 21vw 107vw #FFF , 23vw 35vw #FFF , 114vw 39vw #FFF , 62vw 24vw #FFF , 5vw 45vw #FFF , 79vw 86vw #FFF , 3vw 89vw #FFF , 105vw 97vw #FFF , 52vw 53vw #FFF , 24vw 63vw #FFF , 47vw 18vw #FFF , 88vw 87vw #FFF , 81vw 107vw #FFF , 13vw 90vw #FFF , 58vw 90vw #FFF , 99vw 59vw #FFF , 50vw 89vw #FFF , 78vw 47vw #FFF , 79vw 28vw #FFF , 86vw 72vw #FFF , 42vw 67vw #FFF , 53vw 26vw #FFF , 32vw 74vw #FFF , 40vw 53vw #FFF , 43vw 89vw #FFF , 100vw 25vw #FFF , 20vw 117vw #FFF , 65vw 91vw #FFF , 46vw 17vw #FFF , 17vw 41vw #FFF , 112vw 14vw #FFF , 107vw 1vw #FFF , 85vw 120vw #FFF , 96vw 80vw #FFF , 16vw 83vw #FFF , 51vw 46vw #FFF , 43vw 4vw #FFF , 66vw 49vw #FFF , 65vw 36vw #FFF , 88vw 33vw #FFF , 78vw 105vw #FFF , 61vw 56vw #FFF , 47vw 86vw #FFF , 85vw 21vw #FFF , 17vw 12vw #FFF , 89vw 22vw #FFF , 17vw 41vw #FFF , 76vw 57vw #FFF , 43vw 115vw #FFF , 9vw 104vw #FFF , 39vw 68vw #FFF , 83vw 69vw #FFF , 45vw 79vw #FFF , 7vw 75vw #FFF , 106vw 1vw #FFF , 60vw 115vw #FFF , 17vw 71vw #FFF , 55vw 62vw #FFF , 114vw 26vw #FFF , 10vw 28vw #FFF , 30vw 7vw #FFF , 50vw 106vw #FFF , 84vw 100vw #FFF , 13vw 28vw #FFF , 109vw 89vw #FFF , 75vw 44vw #FFF , 6vw 10vw #FFF , 73vw 108vw #FFF , 97vw 14vw #FFF , 61vw 94vw #FFF , 102vw 57vw #FFF , 86vw 90vw #FFF , 78vw 78vw #FFF , 40vw 24vw #FFF , 78vw 57vw #FFF , 4vw 109vw #FFF , 16vw 117vw #FFF , 1vw 117vw #FFF , 58vw 106vw #FFF , 100vw 81vw #FFF , 52vw 17vw #FFF , 41vw 6vw #FFF , 19vw 61vw #FFF , 23vw 79vw #FFF , 118vw 11vw #FFF , 10vw 42vw #FFF , 91vw 85vw #FFF , 103vw 57vw #FFF , 48vw 27vw #FFF , 6vw 44vw #FFF , 95vw 46vw #FFF , 9vw 41vw #FFF , 120vw 22vw #FFF , 53vw 60vw #FFF , 90vw 12vw #FFF , 120vw 12vw #FFF , 94vw 115vw #FFF , 11vw 32vw #FFF , 102vw 8vw #FFF , 114vw 103vw #FFF;
}
.wrapper .planktönchen .plankton2 {
  box-shadow: 134vh 184vh #FFF , 16vw 73vw #FFF , 64vw 92vw #FFF , 62vw 16vw #FFF , 25vw 31vw #FFF , 102vw 112vw #FFF , 93vw 42vw #FFF , 56vw 80vw #FFF , 120vw 120vw #FFF , 17vw 115vw #FFF , 10vw 14vw #FFF , 70vw 77vw #FFF , 57vw 112vw #FFF , 83vw 15vw #FFF , 56vw 50vw #FFF , 62vw 66vw #FFF , 117vw 14vw #FFF , 33vw 31vw #FFF , 49vw 31vw #FFF , 48vw 3vw #FFF , 53vw 38vw #FFF , 113vw 95vw #FFF , 16vw 75vw #FFF , 116vw 89vw #FFF , 84vw 15vw #FFF , 110vw 23vw #FFF , 27vw 36vw #FFF , 55vw 45vw #FFF , 1vw 82vw #FFF , 28vw 61vw #FFF , 12vw 8vw #FFF , 90vw 32vw #FFF , 28vw 50vw #FFF , 33vw 102vw #FFF , 89vw 42vw #FFF , 62vw 15vw #FFF , 14vw 69vw #FFF , 92vw 19vw #FFF , 19vw 29vw #FFF , 33vw 77vw #FFF , 88vw 30vw #FFF , 28vw 31vw #FFF , 81vw 54vw #FFF , 103vw 95vw #FFF , 50vw 76vw #FFF , 26vw 116vw #FFF , 93vw 42vw #FFF , 29vw 97vw #FFF , 81vw 71vw #FFF , 12vw 23vw #FFF , 91vw 51vw #FFF , 24vw 111vw #FFF , 112vw 49vw #FFF , 78vw 52vw #FFF , 48vw 34vw #FFF , 42vw 44vw #FFF , 9vw 15vw #FFF , 31vw 93vw #FFF , 53vw 99vw #FFF , 12vw 119vw #FFF , 18vw 78vw #FFF , 94vw 64vw #FFF , 104vw 109vw #FFF , 89vw 53vw #FFF , 83vw 109vw #FFF , 3vw 113vw #FFF , 84vw 43vw #FFF , 28vw 76vw #FFF , 54vw 22vw #FFF , 103vw 10vw #FFF , 116vw 30vw #FFF , 89vw 88vw #FFF , 49vw 23vw #FFF , 43vw 8vw #FFF , 84vw 109vw #FFF , 28vw 87vw #FFF , 41vw 86vw #FFF , 119vw 82vw #FFF , 25vw 30vw #FFF , 2vw 21vw #FFF , 83vw 72vw #FFF , 94vw 90vw #FFF , 55vw 43vw #FFF , 90vw 45vw #FFF , 55vw 91vw #FFF , 106vw 57vw #FFF , 68vw 41vw #FFF , 79vw 12vw #FFF , 52vw 45vw #FFF , 37vw 18vw #FFF , 94vw 3vw #FFF , 71vw 55vw #FFF , 2vw 85vw #FFF , 28vw 49vw #FFF , 25vw 102vw #FFF , 95vw 31vw #FFF , 86vw 24vw #FFF , 94vw 48vw #FFF , 99vw 3vw #FFF , 109vw 16vw #FFF , 50vw 26vw #FFF , 72vw 79vw #FFF , 116vw 103vw #FFF , 62vw 56vw #FFF , 34vw 4vw #FFF , 11vw 5vw #FFF , 79vw 73vw #FFF , 23vw 50vw #FFF , 28vw 61vw #FFF , 12vw 28vw #FFF , 52vw 65vw #FFF , 36vw 72vw #FFF , 3vw 71vw #FFF , 37vw 41vw #FFF , 103vw 79vw #FFF , 34vw 91vw #FFF , 66vw 101vw #FFF , 119vw 69vw #FFF , 33vw 58vw #FFF , 120vw 94vw #FFF , 83vw 17vw #FFF , 53vw 84vw #FFF , 37vw 50vw #FFF , 105vw 109vw #FFF , 63vw 44vw #FFF , 4vw 49vw #FFF , 103vw 52vw #FFF , 87vw 6vw #FFF , 1vw 78vw #FFF , 46vw 97vw #FFF , 91vw 68vw #FFF , 74vw 98vw #FFF , 54vw 56vw #FFF , 12vw 101vw #FFF , 91vw 104vw #FFF , 6vw 53vw #FFF , 18vw 37vw #FFF , 25vw 27vw #FFF , 115vw 28vw #FFF , 96vw 102vw #FFF , 105vw 56vw #FFF , 15vw 72vw #FFF , 76vw 64vw #FFF , 1vw 24vw #FFF , 102vw 5vw #FFF , 97vw 73vw #FFF , 87vw 103vw #FFF , 68vw 5vw #FFF , 56vw 25vw #FFF , 112vw 11vw #FFF , 31vw 74vw #FFF , 72vw 4vw #FFF , 25vw 58vw #FFF , 41vw 75vw #FFF , 50vw 29vw #FFF , 93vw 95vw #FFF , 15vw 33vw #FFF , 63vw 95vw #FFF , 4vw 98vw #FFF , 6vw 102vw #FFF , 6vw 96vw #FFF , 104vw 92vw #FFF , 79vw 100vw #FFF , 118vw 13vw #FFF , 115vw 86vw #FFF , 89vw 68vw #FFF , 120vw 73vw #FFF , 92vw 25vw #FFF , 28vw 86vw #FFF , 10vw 91vw #FFF , 60vw 3vw #FFF , 15vw 42vw #FFF , 11vw 41vw #FFF , 36vw 120vw #FFF , 18vw 19vw #FFF , 51vw 55vw #FFF , 94vw 40vw #FFF , 84vw 109vw #FFF , 81vw 100vw #FFF , 81vw 30vw #FFF , 26vw 77vw #FFF , 114vw 35vw #FFF , 106vw 46vw #FFF , 46vw 68vw #FFF , 114vw 27vw #FFF , 88vw 42vw #FFF , 43vw 120vw #FFF , 74vw 40vw #FFF , 13vw 89vw #FFF , 12vw 16vw #FFF , 30vw 72vw #FFF , 115vw 52vw #FFF , 60vw 3vw #FFF , 43vw 3vw #FFF , 24vw 13vw #FFF , 113vw 83vw #FFF , 72vw 26vw #FFF , 29vw 24vw #FFF , 69vw 14vw #FFF , 110vw 34vw #FFF , 8vw 74vw #FFF , 12vw 89vw #FFF , 4vw 4vw #FFF , 59vw 61vw #FFF , 34vw 69vw #FFF , 93vw 56vw #FFF , 37vw 47vw #FFF , 66vw 106vw #FFF , 83vw 105vw #FFF , 48vw 51vw #FFF , 37vw 58vw #FFF , 24vw 43vw #FFF , 2vw 22vw #FFF , 60vw 72vw #FFF , 110vw 74vw #FFF , 12vw 10vw #FFF , 119vw 77vw #FFF , 112vw 120vw #FFF , 102vw 69vw #FFF , 101vw 7vw #FFF , 112vw 100vw #FFF , 90vw 37vw #FFF , 21vw 99vw #FFF , 4vw 83vw #FFF , 78vw 63vw #FFF , 89vw 69vw #FFF , 76vw 49vw #FFF , 84vw 43vw #FFF , 32vw 25vw #FFF , 62vw 13vw #FFF , 89vw 62vw #FFF , 26vw 15vw #FFF , 66vw 73vw #FFF , 106vw 8vw #FFF , 50vw 1vw #FFF , 80vw 115vw #FFF , 110vw 97vw #FFF , 81vw 97vw #FFF , 12vw 54vw #FFF , 40vw 73vw #FFF , 29vw 43vw #FFF , 38vw 95vw #FFF , 59vw 89vw #FFF , 101vw 36vw #FFF , 36vw 51vw #FFF , 120vw 28vw #FFF , 116vw 87vw #FFF , 86vw 73vw #FFF , 105vw 64vw #FFF , 107vw 67vw #FFF , 3vw 97vw #FFF , 12vw 27vw #FFF , 120vw 73vw #FFF , 8vw 98vw #FFF , 88vw 107vw #FFF , 75vw 34vw #FFF , 22vw 50vw #FFF , 45vw 88vw #FFF , 111vw 35vw #FFF , 103vw 6vw #FFF , 63vw 116vw #FFF , 11vw 90vw #FFF , 95vw 116vw #FFF , 11vw 12vw #FFF , 65vw 120vw #FFF , 16vw 104vw #FFF , 99vw 64vw #FFF , 28vw 25vw #FFF , 45vw 110vw #FFF , 81vw 43vw #FFF , 68vw 54vw #FFF , 52vw 45vw #FFF , 20vw 87vw #FFF , 29vw 17vw #FFF , 59vw 32vw #FFF , 114vw 15vw #FFF , 55vw 38vw #FFF , 6vw 116vw #FFF , 26vw 91vw #FFF , 70vw 21vw #FFF , 47vw 84vw #FFF , 9vw 15vw #FFF , 98vw 21vw #FFF , 38vw 111vw #FFF , 31vw 24vw #FFF , 38vw 39vw #FFF , 68vw 119vw #FFF , 78vw 7vw #FFF , 69vw 100vw #FFF , 110vw 94vw #FFF , 75vw 105vw #FFF , 86vw 109vw #FFF , 40vw 104vw #FFF , 9vw 73vw #FFF , 1vw 32vw #FFF , 92vw 119vw #FFF , 82vw 25vw #FFF , 47vw 84vw #FFF , 19vw 7vw #FFF , 12vw 53vw #FFF , 100vw 46vw #FFF , 93vw 37vw #FFF , 85vw 81vw #FFF , 4vw 34vw #FFF , 35vw 32vw #FFF , 83vw 3vw #FFF , 100vw 111vw #FFF , 108vw 48vw #FFF , 26vw 66vw #FFF , 97vw 56vw #FFF , 39vw 103vw #FFF , 59vw 47vw #FFF , 116vw 78vw #FFF , 80vw 49vw #FFF , 67vw 87vw #FFF , 43vw 90vw #FFF , 42vw 2vw #FFF , 115vw 16vw #FFF , 4vw 99vw #FFF , 72vw 18vw #FFF , 74vw 115vw #FFF , 70vw 115vw #FFF , 79vw 54vw #FFF , 6vw 60vw #FFF , 76vw 98vw #FFF , 34vw 109vw #FFF , 101vw 111vw #FFF , 64vw 95vw #FFF , 28vw 30vw #FFF , 104vw 118vw #FFF , 106vw 14vw #FFF , 57vw 97vw #FFF , 75vw 59vw #FFF , 27vw 57vw #FFF , 64vw 5vw #FFF , 45vw 12vw #FFF , 6vw 64vw #FFF , 33vw 55vw #FFF , 53vw 39vw #FFF , 64vw 24vw #FFF , 47vw 44vw #FFF , 118vw 68vw #FFF , 4vw 58vw #FFF , 75vw 21vw #FFF , 31vw 25vw #FFF , 110vw 74vw #FFF , 84vw 22vw #FFF , 100vw 38vw #FFF , 60vw 106vw #FFF , 26vw 113vw #FFF , 111vw 113vw #FFF , 20vw 64vw #FFF , 115vw 11vw #FFF , 119vw 16vw #FFF , 36vw 79vw #FFF , 6vw 80vw #FFF , 68vw 87vw #FFF , 30vw 12vw #FFF , 13vw 39vw #FFF , 28vw 114vw #FFF , 112vw 47vw #FFF , 92vw 67vw #FFF , 117vw 89vw #FFF , 104vw 95vw #FFF , 67vw 77vw #FFF , 64vw 30vw #FFF , 54vw 98vw #FFF , 108vw 5vw #FFF , 14vw 59vw #FFF , 30vw 34vw #FFF , 101vw 62vw #FFF , 60vw 93vw #FFF , 72vw 83vw #FFF , 39vw 45vw #FFF , 102vw 29vw #FFF , 28vw 99vw #FFF , 45vw 101vw #FFF , 43vw 36vw #FFF , 28vw 82vw #FFF , 50vw 13vw #FFF , 13vw 27vw #FFF , 39vw 44vw #FFF , 120vw 25vw #FFF , 58vw 8vw #FFF , 92vw 30vw #FFF , 42vw 119vw #FFF , 31vw 41vw #FFF , 61vw 86vw #FFF , 57vw 111vw #FFF , 112vw 80vw #FFF , 102vw 24vw #FFF , 63vw 1vw #FFF , 12vw 1vw #FFF , 9vw 8vw #FFF , 103vw 33vw #FFF , 11vw 43vw #FFF , 14vw 11vw #FFF , 116vw 34vw #FFF , 110vw 98vw #FFF , 113vw 108vw #FFF;
  animation: animStar 50s linear;
}
.wrapper .planktönchen .plankton2:after {
  box-shadow: 134vh 184vh #FFF , 16vw 73vw #FFF , 64vw 92vw #FFF , 62vw 16vw #FFF , 25vw 31vw #FFF , 102vw 112vw #FFF , 93vw 42vw #FFF , 56vw 80vw #FFF , 120vw 120vw #FFF , 17vw 115vw #FFF , 10vw 14vw #FFF , 70vw 77vw #FFF , 57vw 112vw #FFF , 83vw 15vw #FFF , 56vw 50vw #FFF , 62vw 66vw #FFF , 117vw 14vw #FFF , 33vw 31vw #FFF , 49vw 31vw #FFF , 48vw 3vw #FFF , 53vw 38vw #FFF , 113vw 95vw #FFF , 16vw 75vw #FFF , 116vw 89vw #FFF , 84vw 15vw #FFF , 110vw 23vw #FFF , 27vw 36vw #FFF , 55vw 45vw #FFF , 1vw 82vw #FFF , 28vw 61vw #FFF , 12vw 8vw #FFF , 90vw 32vw #FFF , 28vw 50vw #FFF , 33vw 102vw #FFF , 89vw 42vw #FFF , 62vw 15vw #FFF , 14vw 69vw #FFF , 92vw 19vw #FFF , 19vw 29vw #FFF , 33vw 77vw #FFF , 88vw 30vw #FFF , 28vw 31vw #FFF , 81vw 54vw #FFF , 103vw 95vw #FFF , 50vw 76vw #FFF , 26vw 116vw #FFF , 93vw 42vw #FFF , 29vw 97vw #FFF , 81vw 71vw #FFF , 12vw 23vw #FFF , 91vw 51vw #FFF , 24vw 111vw #FFF , 112vw 49vw #FFF , 78vw 52vw #FFF , 48vw 34vw #FFF , 42vw 44vw #FFF , 9vw 15vw #FFF , 31vw 93vw #FFF , 53vw 99vw #FFF , 12vw 119vw #FFF , 18vw 78vw #FFF , 94vw 64vw #FFF , 104vw 109vw #FFF , 89vw 53vw #FFF , 83vw 109vw #FFF , 3vw 113vw #FFF , 84vw 43vw #FFF , 28vw 76vw #FFF , 54vw 22vw #FFF , 103vw 10vw #FFF , 116vw 30vw #FFF , 89vw 88vw #FFF , 49vw 23vw #FFF , 43vw 8vw #FFF , 84vw 109vw #FFF , 28vw 87vw #FFF , 41vw 86vw #FFF , 119vw 82vw #FFF , 25vw 30vw #FFF , 2vw 21vw #FFF , 83vw 72vw #FFF , 94vw 90vw #FFF , 55vw 43vw #FFF , 90vw 45vw #FFF , 55vw 91vw #FFF , 106vw 57vw #FFF , 68vw 41vw #FFF , 79vw 12vw #FFF , 52vw 45vw #FFF , 37vw 18vw #FFF , 94vw 3vw #FFF , 71vw 55vw #FFF , 2vw 85vw #FFF , 28vw 49vw #FFF , 25vw 102vw #FFF , 95vw 31vw #FFF , 86vw 24vw #FFF , 94vw 48vw #FFF , 99vw 3vw #FFF , 109vw 16vw #FFF , 50vw 26vw #FFF , 72vw 79vw #FFF , 116vw 103vw #FFF , 62vw 56vw #FFF , 34vw 4vw #FFF , 11vw 5vw #FFF , 79vw 73vw #FFF , 23vw 50vw #FFF , 28vw 61vw #FFF , 12vw 28vw #FFF , 52vw 65vw #FFF , 36vw 72vw #FFF , 3vw 71vw #FFF , 37vw 41vw #FFF , 103vw 79vw #FFF , 34vw 91vw #FFF , 66vw 101vw #FFF , 119vw 69vw #FFF , 33vw 58vw #FFF , 120vw 94vw #FFF , 83vw 17vw #FFF , 53vw 84vw #FFF , 37vw 50vw #FFF , 105vw 109vw #FFF , 63vw 44vw #FFF , 4vw 49vw #FFF , 103vw 52vw #FFF , 87vw 6vw #FFF , 1vw 78vw #FFF , 46vw 97vw #FFF , 91vw 68vw #FFF , 74vw 98vw #FFF , 54vw 56vw #FFF , 12vw 101vw #FFF , 91vw 104vw #FFF , 6vw 53vw #FFF , 18vw 37vw #FFF , 25vw 27vw #FFF , 115vw 28vw #FFF , 96vw 102vw #FFF , 105vw 56vw #FFF , 15vw 72vw #FFF , 76vw 64vw #FFF , 1vw 24vw #FFF , 102vw 5vw #FFF , 97vw 73vw #FFF , 87vw 103vw #FFF , 68vw 5vw #FFF , 56vw 25vw #FFF , 112vw 11vw #FFF , 31vw 74vw #FFF , 72vw 4vw #FFF , 25vw 58vw #FFF , 41vw 75vw #FFF , 50vw 29vw #FFF , 93vw 95vw #FFF , 15vw 33vw #FFF , 63vw 95vw #FFF , 4vw 98vw #FFF , 6vw 102vw #FFF , 6vw 96vw #FFF , 104vw 92vw #FFF , 79vw 100vw #FFF , 118vw 13vw #FFF , 115vw 86vw #FFF , 89vw 68vw #FFF , 120vw 73vw #FFF , 92vw 25vw #FFF , 28vw 86vw #FFF , 10vw 91vw #FFF , 60vw 3vw #FFF , 15vw 42vw #FFF , 11vw 41vw #FFF , 36vw 120vw #FFF , 18vw 19vw #FFF , 51vw 55vw #FFF , 94vw 40vw #FFF , 84vw 109vw #FFF , 81vw 100vw #FFF , 81vw 30vw #FFF , 26vw 77vw #FFF , 114vw 35vw #FFF , 106vw 46vw #FFF , 46vw 68vw #FFF , 114vw 27vw #FFF , 88vw 42vw #FFF , 43vw 120vw #FFF , 74vw 40vw #FFF , 13vw 89vw #FFF , 12vw 16vw #FFF , 30vw 72vw #FFF , 115vw 52vw #FFF , 60vw 3vw #FFF , 43vw 3vw #FFF , 24vw 13vw #FFF , 113vw 83vw #FFF , 72vw 26vw #FFF , 29vw 24vw #FFF , 69vw 14vw #FFF , 110vw 34vw #FFF , 8vw 74vw #FFF , 12vw 89vw #FFF , 4vw 4vw #FFF , 59vw 61vw #FFF , 34vw 69vw #FFF , 93vw 56vw #FFF , 37vw 47vw #FFF , 66vw 106vw #FFF , 83vw 105vw #FFF , 48vw 51vw #FFF , 37vw 58vw #FFF , 24vw 43vw #FFF , 2vw 22vw #FFF , 60vw 72vw #FFF , 110vw 74vw #FFF , 12vw 10vw #FFF , 119vw 77vw #FFF , 112vw 120vw #FFF , 102vw 69vw #FFF , 101vw 7vw #FFF , 112vw 100vw #FFF , 90vw 37vw #FFF , 21vw 99vw #FFF , 4vw 83vw #FFF , 78vw 63vw #FFF , 89vw 69vw #FFF , 76vw 49vw #FFF , 84vw 43vw #FFF , 32vw 25vw #FFF , 62vw 13vw #FFF , 89vw 62vw #FFF , 26vw 15vw #FFF , 66vw 73vw #FFF , 106vw 8vw #FFF , 50vw 1vw #FFF , 80vw 115vw #FFF , 110vw 97vw #FFF , 81vw 97vw #FFF , 12vw 54vw #FFF , 40vw 73vw #FFF , 29vw 43vw #FFF , 38vw 95vw #FFF , 59vw 89vw #FFF , 101vw 36vw #FFF , 36vw 51vw #FFF , 120vw 28vw #FFF , 116vw 87vw #FFF , 86vw 73vw #FFF , 105vw 64vw #FFF , 107vw 67vw #FFF , 3vw 97vw #FFF , 12vw 27vw #FFF , 120vw 73vw #FFF , 8vw 98vw #FFF , 88vw 107vw #FFF , 75vw 34vw #FFF , 22vw 50vw #FFF , 45vw 88vw #FFF , 111vw 35vw #FFF , 103vw 6vw #FFF , 63vw 116vw #FFF , 11vw 90vw #FFF , 95vw 116vw #FFF , 11vw 12vw #FFF , 65vw 120vw #FFF , 16vw 104vw #FFF , 99vw 64vw #FFF , 28vw 25vw #FFF , 45vw 110vw #FFF , 81vw 43vw #FFF , 68vw 54vw #FFF , 52vw 45vw #FFF , 20vw 87vw #FFF , 29vw 17vw #FFF , 59vw 32vw #FFF , 114vw 15vw #FFF , 55vw 38vw #FFF , 6vw 116vw #FFF , 26vw 91vw #FFF , 70vw 21vw #FFF , 47vw 84vw #FFF , 9vw 15vw #FFF , 98vw 21vw #FFF , 38vw 111vw #FFF , 31vw 24vw #FFF , 38vw 39vw #FFF , 68vw 119vw #FFF , 78vw 7vw #FFF , 69vw 100vw #FFF , 110vw 94vw #FFF , 75vw 105vw #FFF , 86vw 109vw #FFF , 40vw 104vw #FFF , 9vw 73vw #FFF , 1vw 32vw #FFF , 92vw 119vw #FFF , 82vw 25vw #FFF , 47vw 84vw #FFF , 19vw 7vw #FFF , 12vw 53vw #FFF , 100vw 46vw #FFF , 93vw 37vw #FFF , 85vw 81vw #FFF , 4vw 34vw #FFF , 35vw 32vw #FFF , 83vw 3vw #FFF , 100vw 111vw #FFF , 108vw 48vw #FFF , 26vw 66vw #FFF , 97vw 56vw #FFF , 39vw 103vw #FFF , 59vw 47vw #FFF , 116vw 78vw #FFF , 80vw 49vw #FFF , 67vw 87vw #FFF , 43vw 90vw #FFF , 42vw 2vw #FFF , 115vw 16vw #FFF , 4vw 99vw #FFF , 72vw 18vw #FFF , 74vw 115vw #FFF , 70vw 115vw #FFF , 79vw 54vw #FFF , 6vw 60vw #FFF , 76vw 98vw #FFF , 34vw 109vw #FFF , 101vw 111vw #FFF , 64vw 95vw #FFF , 28vw 30vw #FFF , 104vw 118vw #FFF , 106vw 14vw #FFF , 57vw 97vw #FFF , 75vw 59vw #FFF , 27vw 57vw #FFF , 64vw 5vw #FFF , 45vw 12vw #FFF , 6vw 64vw #FFF , 33vw 55vw #FFF , 53vw 39vw #FFF , 64vw 24vw #FFF , 47vw 44vw #FFF , 118vw 68vw #FFF , 4vw 58vw #FFF , 75vw 21vw #FFF , 31vw 25vw #FFF , 110vw 74vw #FFF , 84vw 22vw #FFF , 100vw 38vw #FFF , 60vw 106vw #FFF , 26vw 113vw #FFF , 111vw 113vw #FFF , 20vw 64vw #FFF , 115vw 11vw #FFF , 119vw 16vw #FFF , 36vw 79vw #FFF , 6vw 80vw #FFF , 68vw 87vw #FFF , 30vw 12vw #FFF , 13vw 39vw #FFF , 28vw 114vw #FFF , 112vw 47vw #FFF , 92vw 67vw #FFF , 117vw 89vw #FFF , 104vw 95vw #FFF , 67vw 77vw #FFF , 64vw 30vw #FFF , 54vw 98vw #FFF , 108vw 5vw #FFF , 14vw 59vw #FFF , 30vw 34vw #FFF , 101vw 62vw #FFF , 60vw 93vw #FFF , 72vw 83vw #FFF , 39vw 45vw #FFF , 102vw 29vw #FFF , 28vw 99vw #FFF , 45vw 101vw #FFF , 43vw 36vw #FFF , 28vw 82vw #FFF , 50vw 13vw #FFF , 13vw 27vw #FFF , 39vw 44vw #FFF , 120vw 25vw #FFF , 58vw 8vw #FFF , 92vw 30vw #FFF , 42vw 119vw #FFF , 31vw 41vw #FFF , 61vw 86vw #FFF , 57vw 111vw #FFF , 112vw 80vw #FFF , 102vw 24vw #FFF , 63vw 1vw #FFF , 12vw 1vw #FFF , 9vw 8vw #FFF , 103vw 33vw #FFF , 11vw 43vw #FFF , 14vw 11vw #FFF , 116vw 34vw #FFF , 110vw 98vw #FFF , 113vw 108vw #FFF;
}
.wrapper .eel {
  position: absolute;
  top: 266.6666666667vh;
  z-index: 700;
  right: -8vw;
}
.wrapper .eel img {
  width: 8vw;
  height: auto;
}
.wrapper .eel-animation {
  animation: eel 15s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .eel-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}
.wrapper .eel-out {
  animation: eelOut 15s;
}
.wrapper .eel-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .orca {
  position: absolute;
  top: 290vh;
  z-index: 600;
  right: -40vw;
}
.wrapper .orca img {
  width: 40vw;
  height: auto;
}
.wrapper .orca-animation {
  animation: orca 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .orca-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}
.wrapper .orca-out {
  animation: orcaOut 10s;
}
.wrapper .orca-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .kalamar {
  position: absolute;
  top: 325vh;
  z-index: 700;
  left: -6vw;
}
.wrapper .kalamar img {
  transform: rotate(90deg);
}
.wrapper .kalamar img {
  width: 6vw;
  height: auto;
}
.wrapper .kalamar-animation {
  animation: kalamar 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .kalamar-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}
.wrapper .kalamar-out {
  animation: kalamarOut 20s;
}
.wrapper .kalamar-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .pottwal {
  position: absolute;
  top: 360vh;
  z-index: 600;
  right: -26vw;
}
.wrapper .pottwal img {
  width: 26vw;
  height: auto;
}
.wrapper .pottwal-animation {
  animation: pottwal 15s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .pottwal-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}
.wrapper .pottwal-out {
  animation: pottwalOut 15s;
}
.wrapper .pottwal-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .titanic img {
  position: absolute;
  top: 262.5vh;
  z-index: 600;
  left: -100vw;
  left: -60vw;
  animation: titanic 15s infinite;
}
.wrapper .titanic img img {
  width: 100vw;
  height: auto;
}
.wrapper .titanic .fish-text {
  top: 367.5vh;
  z-index: 800;
  left: 10vw;
}
.wrapper .titanic-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
}
.wrapper .titanic-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .stone {
  position: absolute;
  top: 357.5vh;
  left: -14vw;
  z-index: 500;
  transform: rotate(75deg);
}
.wrapper .stone img {
  width: 30vw;
  height: auto;
}
.wrapper .mr-crabs {
  position: absolute;
  top: 450vh;
  z-index: 600;
  left: -15vw;
}
.wrapper .mr-crabs img {
  width: 15vw;
  height: auto;
}
.wrapper .mr-crabs-animation {
  animation: krabbe 8s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .mr-crabs-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
}
.wrapper .mr-crabs-out {
  animation: krabbeOut 15s;
}
.wrapper .mr-crabs-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .worm {
  position: absolute;
  top: 560vh;
  z-index: 800;
  right: -5vw;
}
.wrapper .worm img {
  width: 5vw;
  height: auto;
}
.wrapper .worm-animation {
  animation: worm 15s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .worm-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 18s;
  animation-fill-mode: forwards;
}
.wrapper .worm-out {
  animation: wormOut 30s;
}
.wrapper .worm-out .fish-text {
  animation: textDisAppear 2s;
}
.wrapper .submarine {
  position: absolute;
  top: 500vh;
  z-index: 800;
  right: -30vw;
}
.wrapper .submarine img {
  width: 30vw;
  height: auto;
}
.wrapper .submarine .fish-text {
  transform: rotate(90deg);
  padding-left: 25vw;
}
.wrapper .submarine-animation {
  animation: submarine 10s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.wrapper .submarine-animation .fish-text {
  animation-name: textAppear;
  animation-duration: 5s;
  animation-delay: 13s;
  animation-fill-mode: forwards;
}
.wrapper .submarine-out {
  animation: submarineOut 30s;
}
.wrapper .submarine-out .fish-text {
  animation: textDisAppear 2s;
}

/*# sourceMappingURL=css/main.css.map */
